body {
    text-align: right;
    direction: rtl;
}

.inner-loader {
    direction: ltr;
}

/*input[type="tel"]{*/
/*    text-align: left;*/
/*    direction: ltr;*/
/*}*/

.iti--separate-dial-code .iti__selected-dial-code {
    margin-left: 0;
    margin-right: 6px;
    direction: ltr;

}

.iti__country-list {
    text-align: right;
    direction: ltr;

}

.intl-tel-input.allow-dropdown .flag-container,
.intl-tel-input.separate-dial-code .flag-container {
    right: 0
}

.intl-tel-input .country-list {
    text-align: right
}

.intl-tel-input .country-list .country-name,
.intl-tel-input .country-list .flag-box {
    margin-right: auto;
    margin-left: 6px
}

.intl-tel-input .selected-flag {
    padding: 0 8px 0 0
}

.iti__arrow {
    margin-left: 0;
    margin-right: 6px;
}

.intl-tel-input.allow-dropdown input,
.intl-tel-input.allow-dropdown input[type=tel],
.intl-tel-input.allow-dropdown input[type=text],
.intl-tel-input.separate-dial-code input,
.intl-tel-input.separate-dial-code input[type=tel],
.intl-tel-input.separate-dial-code input[type=text] {
    padding-right: 40px;
    padding-left: 10px;
    direction: ltr;
    text-align: right
}

.intl-tel-input .selected-flag .iti-arrow,
.iti__country-list {
    right: auto;
    left: 1px
}

.select2-container .select2-search--inline .select2-search__field {
    margin-right: 5px;
    margin-left: 0;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
    padding: 0 0 0 5px;
    margin-left: 5px;
    margin-right: 0;
}


.text-right-dir {
    text-align: left;
}

.text-left-dir,
.pages-header h1 {
    text-align: right;
}

.has_seudo:before,
.has_seudo:after,
.scroll_progress,
.custom-checkbox input~label:before,
.pages-header .line,
.about-service-div .counter,
.section-title .side-img,
.file_name,
.share-url,
.inner-comments li:before,
.inner-comments li:after,
.cart-img,
.avatar-upload,
.about-feature-div .counter {
    right: 0;
}


.slide-menu,
.switch_box,
.arrow-profile-text:before,
.news-letter button,
.faq-div h3 i,
.share-url-div .custom-btn,
.custom-colors,
.has-side a,
.has-side button,
.side-notify,
.has-side .switch-container {
    left: 0;
}

i {
    margin-left: 5px;
}

.map-sec a i,
.has-side i,
.association-div h3 i {
    margin-right: 5px;
    margin-left: 0
}



.nav-icon span:nth-child(even) {
    right: 50%;
}

.nav-icon span:nth-child(odd) {
    right: 0px;
}


.nav-icon span:nth-child(4) {
    right: 40%;
}

.nav-icon span:nth-child(6) {
    right: 30%;
}



.nav-icon.open span:nth-child(1) {
    right: 5px;
}

.nav-icon.open span:nth-child(2) {
    right: calc(50% - 5px);
}

.nav-icon.open span:nth-child(3) {
    right: -50%;
}

.nav-icon.open span:nth-child(4) {
    right: 100%;
}

.nav-icon.open span:nth-child(5) {
    right: 5px;

}

.nav-icon.open span:nth-child(6) {
    right: calc(50% - 5px);

}

.nav-icon.open span:nth-child(1),
.nav-icon.open span:nth-child(6) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

.nav-icon.open span:nth-child(2),
.nav-icon.open span:nth-child(5) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}


.main-header-links a:not(:last-of-type) {
    margin-left: 20px;
}

.main-header-links a:not(:last-of-type):after {
    left: -15px;
}

.main-header-links a img {
    margin-left: 7px;
}

.main-logo object {
    margin-right: 10px;
}

.currency-menu {
    width: 105px;
}

.custom-colors {
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
}

.custom-checkbox input~label {
    padding-right: 30px;
}

.custom-checkbox input~label:after {
    right: 4px;
}

.multi-checkboxes .custom-checkbox input~label {
    padding-right: 50px;
}

.multi-checkboxes .custom-checkbox input~label:after {
    right: 4px;
}

.main-search .form-control {
    padding-right: 45px;
}

.main-search button {
    right: 5px;
}

.slide-menu li a {
    padding: 7px 45px 10px 10px;
}

.currency-menu li a {
    padding-right: 10px;
}

.slide-menu {
    text-align: right;
}

.slide-menu img {
    right: 10px;
}

.slide-menu:before {
    left: 20px;
}

.slide-languages {
    margin-right: 9px;

}

.slide-languages a {
    margin-right: 10px;
    margin-left: 10px;
}

.main-slider .owl-dots {
    left: 45px;
}

.side-menu {
    right: 15px;
}

.side-menu-title button,
.slide-menu-content ul li a img {
    right: 20px;
}

.slide-menu-content ul li a {
    padding: 20px 90px 20px 20px;
}

.slide-menu-content ul li a:before {
    left: calc(100% - 70px);
}

.slide-menu-content ul li a:after {
    left: 0px;
}

.slide-menu-content .select-box img {
    right: 5px;
}

.slide-menu-content .select2-container--bootstrap4 .select2-selection {
    margin-right: 35px;
    border-right: 1px solid #000;
}

.slide-menu-content .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow {
    border-right: 1px solid #000;
    left: 0;
    right: auto;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow {
    left: 3px;
    right: auto;
}

.copyright a img {
    margin-right: 4px;
}


.footer-list li a::before {
    right: 100%;
}

.footer-list a:hover:before {
    right: calc(100% + 10px);

}

.fast-scroll {
    right: 20px;
}

.section-title {
    padding-right: 70px;
}

.contact-div {
    left: 15px;
}

.about-img-grid img {
    margin-left: 0;
    margin-right: auto;
}

.project-tabs .nav-tabs .nav-item:not(:last-of-type) .nav-link {
    border-left: 1px solid #C4C4C4;
}

.project-div .section-title {
    padding-right: 60px;
}

.inner-notification .section-title {
    padding-left: 155px;
}

.progress-bar-ratio {
    right: 0;
}

.project-shape span {
    right: 30px;
}


.plus-num {
    left: 0;
    border-right: 1px solid var(--main_color);
}

.minus-num {
    right: 0;
    border-left: 1px solid var(--main_color);
}

.project-btns button {
    border-left: 1px solid var(--main_color);
    border-radius: 0 0 20px 0;
    -webkit-border-radius: 0 0 20px 0;
    -moz-border-radius: 0 0 20px 0;
    -ms-border-radius: 0 0 20px 0;
    -o-border-radius: 0 0 20px 0;
}

.project-btns a {
    border-radius: 0 0 0 20px;
    -webkit-border-radius: 0 0 0 20px;
    -moz-border-radius: 0 0 0 20px;
    -ms-border-radius: 0 0 0 20px;
    -o-border-radius: 0 0 0 20px;
}

.theme_config {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    right: 0;
}

.theme_config.active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.close-theme-config {
    left: 20px;
}

.close-tabs {
    right: 20px;
}

.nav-tabs .nav-item:first-of-type.show .nav-link,
.nav-tabs .nav-item:first-of-type .nav-link.active {
    border-radius: 0 20px 20px 0;
    -webkit-border-radius: 0 20px 20px 0;
    -moz-border-radius: 0 20px 20px 0;
    -ms-border-radius: 0 20px 20px 0;
    -o-border-radius: 0 20px 20px 0;
}

.nav-tabs .nav-item:last-of-type.show .nav-link,
.nav-tabs .nav-item:last-of-type .nav-link.active {
    border-radius: 20px 0 0 20px;
    -webkit-border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    -ms-border-radius: 20px 0 0 20px;
    -o-border-radius: 20px 0 0 20px;
}

.top-btn {
    left: 20px;
}

.fixed-menu .col:not(:last-of-type) {
    border-left: 1px solid #111;
}

.pages-header .line {
    transform-origin: right;
}

.page-title {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}

.inner-notification li {
    padding-right: 70px;
}

.inner-notification li:after {
    right: 30px;
}

.faq-div h3 {
    padding-left: 30px;
}

.side-section {
    padding-right: 70px;
}


.circle-checkboxes-div {
    margin-right: auto;
    margin-left: 0;
}

.checkout-div:before {
    left: 0;
    right: auto;
}

.login-width .btn-div a {
    margin-right: 10px;
    display: block;
}

.input-has-icon i {
    left: 10px;
}

.input-has-icon .form-control {
    padding-left: 35px;
}

.inline-checkboxes .custom-checkbox:not(:last-of-type) {
    margin-left: 20px;
}

.has-file-name .form-control {
    padding-right: 148px;
}

.association-div h3 i,
.repeated-div h3 i {
    float: left;
}

.slider-about-caption:before {
    right: 70px;
}

.slider-about-caption:after {
    left: 70px;
}

.has-quote::before {
    right: 20px;
}

.has-quote::after {
    left: 20px;
}

.slider-about-caption .line-title h3:before {
    right: auto;
    left: 0;
}

.slider-about-caption {
    left: 5px;
}

.main-about-owl .owl-dots {
    left: 12%;
}

.marquee-div {
    right: 70px;
}


.projects-owl .owl-stage {
    padding-right: 0 !important;
}

.news-letter .form-control {
    padding-left: 55px;
}

.total-donation {
    left: 0;
    border-radius: 10px 0 10px 0;
    -webkit-border-radius: 10px 0 10px 0;
    -moz-border-radius: 10px 0 10px 0;
    -ms-border-radius: 10px 0 10px 0;
    -o-border-radius: 10px 0 10px 0;
}

.share-url {
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
}



.gray-form .share-url-div .form-control {
    padding-right: 60px;
    padding-left: 10px;
}

.about-service-div .counter {
    padding-right: 10px;
}

.about-feature-div {
    padding-right: 100px;
}

.about-feature-div:before {
    right: 40px;
}

.main-table thead th:first-of-type,
.table th:first-of-type {
    text-align: right;
    padding-right: 0;
}

.cart-data {
    padding-right: 160px;
}

.main-table.dataTable th {
    padding-right: 0;
}

.cart-table tr td:first-of-type .remove-btn {
    right: 0;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child,
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child {
    padding-right: 4px;
}

.cart-full-total {
    margin-right: auto;
    margin-left: 0;
}

.has-side {
    padding-left: 110px;
}

.profile-title.has-side {
    padding-left: 35px;
}

.share-soc {
    margin-left: 0;
}

.inner-comments li {
    padding-right: 80px;
}

.inner-comments li img {
    right: 20px;
}

.comment-time {
    float: left;
}

.big-btn {
    margin-left: 0;
    margin-right: auto;
}

.static-stars {
    direction: ltr;
}

.profile-img,
.profile-list ul {
    padding-right: 150px;
}

.reports-div .personal-information .form-group>a:before {
    left: 15px;
}

.reports-div .personal-information .form-group>a {
    padding-left: 35px;
}

.arrow-profile-text {
    padding-left: 30px;
}



.white-checkbox input~label {
    padding: 12px 30px 12px 10px;
}

.white-checkbox input~label:after {
    left: 10px;
    right: auto;
}


.switch-container {
    padding-left: 5em;
}

.prof-project-btn button:not(:last-of-type) {
    margin-left: 10px;
}

.prof-project-grid:nth-of-type(odd) {
    padding-left: 0;
}

.prof-project-grid:nth-of-type(even) {
    padding-right: 0;
}


.prof-project-grid .prof-project {
    padding-left: 15px;
}

.prof-project-grid:nth-of-type(odd) .prof-project {
    padding-left: 15px;
}

.month-deducation .prof-project {
    padding-left: 60px !important;
}

.prof-month-edit {
    left: 10px;
}


.marker {
    right: 21%;
}

.map-sec a {
    right: 20px;
}


.accordion li::before {
    right: 0;
}

.accordion li .paragraph {
    margin-right: 40px;
}

.social-links a i {
    right: 13px;
}

.accordion li:hover:before {
    border-right-color: transparent;
}

.fa-long-arrow-alt-right:before {
    content: "\f30a";
}

.map-img,
.about-service-div .counter,.custom-pagination nav.flex.items-center.justify-between svg {
    transform: scalex(-1);
    -webkit-transform: scalex(-1);
    -moz-transform: scalex(-1);
    -ms-transform: scalex(-1);
    -o-transform: scalex(-1);
}

.footer-list li a::before {
    content: "\f0d9";
}

.login-form .has_val .moving-label,
.login-form .form-control:focus .moving-label,
.login-form .select2-container--bootstrap4.select2-container--focus~.moving-label,
.login-form .form-control:active .moving-label,
.login-form .select2-container--bootstrap4.select2-container--focus~.moving-label {
    top: -23px;
}

.contact-pg .marker {
    left: 24.5%;
    right: auto
}

.contact-info .section-title[dir="ltr"] {
    justify-content: flex-end;
}

.remove-input-img {
    right: 5px;
}
@media only screen and (max-width:1200px) and (min-width:992px) {
    .main-header-links a img {
        margin-left: 5px;
    }
}
@media only screen and (min-width:1200px) {
    .header-icon.search-main-div {
        left: 0;
    }
}

@media only screen and (max-width: 1200px) {
    .slide-languages a {
        margin-right: 0;
    }

    .slide-languages {
        margin-right: 0;
    }
}

@media only screen and (max-width: 992px) {
    .side-section {
        padding-right: 0;
    }

    .main-projects-sec .progress-grid {
        right: 0;
    }

    .profile-img {
        padding-right: 120px;
    }

    .profile-list ul {
        padding-right: 0;
    }

    .prof-project-grid:nth-of-type(odd) {
        padding-left: 15px;
    }

    .prof-project-grid:nth-of-type(even) {
        padding-right: 15px;
    }

    .prof-project-grid:nth-of-type(odd) .prof-project {
        padding-left: 0;
    }

    .main-projects-sec .projects-money {
        left: 15px;
    }

    .projects-money-grid .projects-money {
        text-align: left;

    }
}

@media only screen and (max-width: 767px) {
    .slide-languages a {
        margin: 0 4px;
    }

    .main-logo object {
        margin-right: 0;
    }

    .fast-scroll {
        right: 10px;
    }


    .main-slider .owl-dots {
        left: auto;
        right: 15px;
    }

    .filter-tabs {
        left: 0;
    }

    .filter-tabs {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        left: 0;
    }

    .filter-tabs.active {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    .footer-list li:not(:last-of-type):after {
        margin: 4px 4px 4px 6px;
    }

    .side-notify {
        text-align: right;
    }

    .inner-notification .section-title {
        padding-left: 15px;
    }

    .inner-notification .remove-btn {
        left: 10px;
    }

    .gray-form .share-url-div .form-control {
        padding-right: 10px;
    }

    .profile-list ul li:nth-of-type(odd):not(:last-of-type) {
        border-left: 1px solid #333;
    }

    .profile-list ul li.active {
        border-left-color: #3DBECB !important;
    }

    .sign-as .hide-div {
        text-align: right
    }
}

@media only screen and (max-width: 576px) {
    .main-logo object {
        margin-right: 10px;
    }


    .section-title {
        padding-right: 55px;
    }

    .inner-notification li {
        padding-right: 25px;
    }

    .inner-notification li:after {
        right: 6px;
    }

    .projects-money {
        left: 15px;
    }

    .cart-data {
        padding-right: 110px;
    }

    .has-side {
        padding-left: 0;
    }

    .comment-time {
        text-align: left;
    }

    .inner-comments li {
        padding-right: 70px;
        padding-left: 10px;
    }

    .inner-comments li img {
        right: 10px;
    }


}


@media only screen and (max-width: 450px) {
    .about-feature-div {
        padding-right: 10px;
    }

    .about-feature-div:before {
        right: 0;
    }

    .month-deducation .prof-project {
        padding-left: 15px !important;
    }
}