/*start footer*/
footer {
    color: #fff;
    background: #333333;
    padding-top: 40px;
    font-size: 16px;
    margin-top: 20px;
    position: relative;
    bottom: 0;
}
footer .row{
    min-height: 400px;
    align-items:center;
}

.footer-img-grid{
    align-self: flex-end;
}
.copyright {
    background: #FFDA8F;
}

.copyright {
    color: #333;
}

.copyright {
    padding: 20px 0;
}
.news-letter .form-group{
    margin-top: 20px;
    max-width: 350px;
}

.news-letter button{
    position: absolute;
    background: #FFDA8F;
    color: #333;
    border: none;
    width: 50px;
    height: 50px;
    top: 0;
}

.news-letter button:hover{
    background: #444;
    color: #fff;
}

.news-letter .form-control {
    background: #222;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}


.news-letter .form-control:focus{
    background: #444;
}
.footer-img{
    position: absolute;
    bottom: -6px;
    left: 0;
    right: 0;
    margin: auto;
}

.footer-logo img {
    max-height: 80px;
    display: block;
    margin-bottom: 25px;
}


.footer-list a {
    color: #fff;
    position: relative;
    margin-bottom: 10px;
    display: inline-block;
    
}


.footer-list li a::before {
    font-family: "font awesome 5 free";
    font-weight: bold;
    top: 3px;
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #79ecf6;
    opacity: 0;
}



.footer-list a:hover:before {
    opacity: 1;
}

.footer-list a:hover {
    color: #79ecf6;
}

.socialmedia {
    margin: 25px auto 20px;
}


.accordion {
    width: 100%;
    min-width: 950px;
    display: block;
    overflow: hidden;
    height: 40px;
}

.accordion li {
    display: inline-block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: relative;
    margin: 0;
    font-size: 16px;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    margin: 0 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-size: 100%;
}

.accordion li::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #fff;
    transition: all .4s ease-in-out .1s;
    -webkit-transition: all .4s ease-in-out .1s;
    -moz-transition: all .4s ease-in-out .1s;
    -ms-transition: all .4s ease-in-out .1s;
    -o-transition: all .4s ease-in-out .1s;
}

.accordion li:hover {
    width: 110px;
}


.accordion li .paragraph {
    position: relative;
    width: 70px;
    height: 40px;
    background: #3DBECB;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    color: #fff;

}

.social-links {
    display: block;
}

.social-links a {
    display: block;
    font-size: 14px;
    line-height: 40px;
}

.social-links a i {
    -moz-transition: all 0.4s ease-in-out 0.1s;
    -o-transition: all 0.4s ease-in-out 0.1s;
    -webkit-transition: all 0.4s ease-in-out;
    transition-delay: 0.1s;
    transition: all 0.4s ease-in-out 0.1s;
    position: absolute;
    display: block;
    color: #fff;
    z-index: 1;
    top: 11px;
    display: block;
    text-align: center;
    font-size: 17px;
}
.accordion li:hover:before{
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    transition-delay: 0s;
}


.accordion  li:hover ,.accordion li .paragraph {
    background:  #3DBECB
}

.accordion  .twitter-icon:hover ,.accordion .twitter-icon .paragraph {
    background:  #4bc9f5
}


.accordion  .facebook-icon:hover,.accordion  .facebook-icon  .paragraph {
    background: #295b9e;
}



.accordion .insta-icon:hover ,.accordion  .insta-icon  .paragraph{
    background: #C92165

}

.accordion .snapchat-icon:hover ,.accordion  .snapchat-icon  .paragraph{
    background: #d9c026

}


.top-btn{
    border: 1px solid #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: 120px;
    width: 100%;
    margin-bottom: 40px;
    color: #fff;
    font-size: 18px;
    animation: bounce 3s cubic-bezier(0.075, 0.82, 0.165, 1) both infinite;
    -webkit-animation: bounce 3s cubic-bezier(0.075, 0.82, 0.165, 1) both infinite;
}
.top-btn i{
    display: block;
    margin-bottom: 10px;
    font-size: 22px;
}
.top-btn:hover{
    background: #fff;
    color: #333;
}
/*end footer*/