/*start gerneral styles*/


* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    --scrollbarBG: #ddd;
    --thumbBG: #000;
    --light_color: #CBF5FF;
    --main_color: #3DBECB;
    height: 100%;
}

@font-face {
    font-family: "light";
    src: url("../fonts/Cairo-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "bold";
    src: url("../fonts/Cairo-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}



body {
    margin: 0 auto;
    padding: 0;
    font-family: "light";
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    color: #000;
}

.no-trans *:not(.loading *) {
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    animation: none !important;
    -webkit-animation: none !important;
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}



body::-webkit-scrollbar {
    width: 11px;
}


::selection {
    background-color: #3DBECB;
    color: #fff
}

a,
button {
    cursor: pointer;
}

a:hover,
a:focus {
    text-decoration: none;
}

.decorate_link {
    text-decoration: underline;
}

/*input:-webkit-autofill,*/
/*input:-webkit-autofill:hover, */
/*input:-webkit-autofill:focus, */
/*input:-webkit-autofill:active*/
/*{*/
/* -webkit-box-shadow: 0 0 0 30px white inset !important;*/
/*}*/

label {
    font-weight: normal;
    margin-bottom: 10px;
    display: block;
    font-size: 16px;
    color: #000;
}

a:focus,
button:focus,
button:active,
select:focus,
input:focus {
    outline: 0 none;
}

p {
    color: #A49E9E;
    font-size: 16px;
    line-height: 28px;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 17px;
    line-height: 28px;
}

h4 {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal
}

.no-full-images .owl-item img {
    width: auto
}

ul {
    margin-left: 0;
    padding: 0;
    margin: 0;
}

.list-inline li {
    display: inline-block;
}

.list-unstyled li {
    display: block;
}

img,
object {
    max-width: 100%;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
}


.html5-title {
    display: none;
}

.full-width-img {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

input,
button {
    font-family: "light";
}

select.form-control:not([size]):not([multiple]) {
    height: 50px;
    padding-top: 0;
    padding-bottom: 0
}

.select2-container--bootstrap4 .select2-selection--single.select2-container--bootstrap4 .select2-selection,
.select2-container--bootstrap4 .select2-selection--single {
    height: 50px !important;
}


.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
    float: none;
    display: inline-block;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block;
    width: auto;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 3px;
    margin-left: 1px;
    padding: 0;
    padding-left: 3px;
    padding-right: 3px;
    float: right;
    border: none;
    background: none;
}

.select2.select2-container.select2-container--bootstrap4.select2-container--focus .select2-selection__choice {
    color: #333333;
}

.form-control {
    background: #fff;
    box-shadow: none;
    height: 50px;
    width: 100%;
    color: #333333;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "light";
    font-size: 15px;
    border: 1px solid #333333;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.select2-container--bootstrap4 .select2-selection {
    border: 1px solid #333;
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
    line-height: 49px;
}

.select2-container--bootstrap4 .select2-dropdown.select-width {
    min-width: 100px;
}

.select2-results__option {
    padding: 10px 6px;
    border-bottom: 1px solid #eee;
}

.select2-results__option:last-of-type {
    border-bottom: none;
}

.form-control.select-input,
.form-control.select-input2 {
    color: #A4A4A4;
}

.form-control:focus,
.select2-container--bootstrap4.select2-container--focus .select2-selection {
    background: transparent;
    box-shadow: none;
    border-color: #3DBECB;
    color: #3DBECB;
}

.select2-container--bootstrap4 .select2-dropdown.select2-dropdown--below {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.select2-container--bootstrap4 .select2-results__option--highlighted,
.select2-container--bootstrap4 .select2-results__option--highlighted.select2-results__option[aria-selected=true] {
    background-color: #3DBECB;
}

.select2-results__option {
    font-size: 15px;
}

.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #A4A4A4;
}

.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #A4A4A4;
}

.form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #A4A4A4;
}

.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #A4A4A4;
}


.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #A4A4A4;
}


textarea.form-control {
    min-height: 150px;
    padding-top: 15px;
}

.big-inputs .select2-container--bootstrap4 .select2-selection--multiple {
    min-height: 50px !important;
}

.big-inputs .form-control,
.big-inputs .big-inputs .select2-container--bootstrap4 .select2-selection--single.select2-container--bootstrap4 .select2-selection,
.big-inputs .select2-container--bootstrap4 .select2-selection--single,
.big-inputs select.form-control:not([size]):not([multiple]) {
    height: 50px !important;
}


.no-marg-row {
    padding: 0;
    margin: 0
}

.starrisk {
    color: red
}


a,
.icon-img,
img,
button,
.nav-icon,
.side-img,
.white-checkbox input~label,
.form-control,
.avatar-upload .avatar-edit label:after,
.pages-header,
.avatar-upload .avatar-edit label,
.campain-icon-description,
.slide-languages,
.association-div h3 i {
    -webkit-transition: all 0.5s linear 0s;
    -moz-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
    -ms-transition: all 0.5s linear 0s;
}

h1,
h2,
h3,
h4,
h5,
.border-setting,
.owl-dot span:before,
.slide-menu-content ul li a:before,
.project-btns .tooltip-link,
.project-div .custom-btn,
.slide-menu-content ul li a:after,
.projects-money span,
.stars i,
.project-shape span,
p,
.share-url,
.project-img,
.full-progress,
.share-soc,
.progress-bar-ratio,
.progress-min-max,
.num {
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
}

.footer-list li a::before,
.arrow-profile-text,
.theme_config,
.switch-container,
.border-setting i,
.about-service-div,
.about-feature-div:before,
.faq-div h3 i,
.loadmore~i,
.loadmore,
.done-rate,
.moving-label,
.profile-list ul li::before,
.personal-information .form-group>div,
.inner-comments li:before,
.inner-comments li:after,
.border-form label,
.arrow-profile-text:before {
    transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}






.custom-checkbox {
    position: relative;
    display: inline-block;
}

.custom-checkbox input,
.hidden-input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    z-index: -9999;
}

.custom-checkbox input~label {
    position: relative;
    color: #AEAEAE;
    cursor: pointer;
}

.custom-checkbox input~label.second_color {
    color: #3DBECB;
}

.custom-checkbox input~label:before {
    content: "";
    height: 22px;
    width: 22px;
    border-radius: 3px;
    border: solid 1px #3DBECB;
    display: inline-block;
    top: 2px;
    position: absolute;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.custom-checkbox input~label:after {
    content: "\f00c";
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    font-size: 15px;
    top: 3px;
    position: absolute;
    color: #3DBECB;
    opacity: 0;
    display: inline-block;
}

.custom-checkbox input:checked~label:before {
    background: #3DBECB;
    border-color: #3DBECB;

}

.custom-checkbox input:checked~label:after {
    opacity: 1;
    color: #fff;
    animation: rotateIn .3s linear both;
    -webkit-animation: rotateIn .3s linear both;
}

.custom-checkbox input:checked~label {
    color: #333;
}

.custom-checkbox input~label.dark-text {
    color: #333;
}

.circle-checkbox input~label {
    color: #333;
}

.circle-checkbox input~label:before {
    border-color: #A49E9E;
}

.circle-checkbox input~label::after,
.circle-checkbox input~label:before {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.circle-checkbox input:checked~label:before {
    background: transparent;
    border-color: #3DBECB;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.circle-checkbox input~label::after {
    content: "";
    height: 14px;
    width: 14px;
    background: #3DBECB;
    top: 6px;
    right: 3px;
}

.circle-checkbox input:checked~label:after {
    animation: zoomIn .1s linear both;
    -webkit-animation: zoomIn .1s linear both;
}

.circle-checkbox input:checked~label {
    color: #CBF5FF;
}


.gray-bg {
    background-color: #F8F8F8
}

.white-bg {
    background-color: #fff
}

.margin-div {
    padding-top: 50px;
    padding-bottom: 50px;

}

.margin-top-div {
    padding-top: 50px;
}


.margin-bottom-div {
    padding-bottom: 50px;
}


.dark-text {
    color: #000
}

.white-text {
    color: #fff
}

.has_seudo {
    z-index: 1;
    position: relative;
    overflow: hidden;
}

.has_seudo:before,
.has_seudo:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    right: 0;

}


b {
    font-family: "bold"
}


.big-raduis {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.md-raduis {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.sm-raduis {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.hirozintal-scroll {
    overflow-x: hidden;
    overflow-y: auto
}

.hirozintal-scroll::-webkit-scrollbar-track {
    background-color: #51ceda;
}

.hirozintal-scroll::-webkit-scrollbar {
    width: 6px;
    background-color: #51ceda;

}

.hirozintal-scroll::-webkit-scrollbar-thumb {
    background-color: #03abbb;
}





.full-width-btn {
    min-width: inherit;
    display: block;
    width: 100%
}



.section-title {
    position: relative;
    margin-bottom: 50px;
    display: block;
    display: flex;
    align-items: center;
    min-height: 60px;

}

.index-pg .section-title,
.index-pg .section-title h3 {
    display: block;
}

.side-img {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 2px solid #000;
    display: inline-block;
    position: absolute;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.side-img img {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    max-height: 40px;
}

.section-title h3 {
    font-size: 25px;
    margin-bottom: 10px;
    display: none;
}

.section-title h4 {
    color: #ffda8f;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: -10px;
    opacity: .35;
    animation: color_effect 4s ease-in infinite;
    -webkit-animation: color_effect 4s ease-in infinite;
}

.has-side {
    position: relative;
}

.has-side a,
.has-side button {
    font-size: 20px;
    color: #A4A4A4;
    display: inline-block;
    font-family: "light";
    position: absolute;
    top: 0;
}

.has-side a.first_color {
    color: #333333;
}

.has-side button.second_color {
    color: #3DBECB;
}

.section-pragraph {
    margin: 0 auto 50px;
}

.has-side a:hover {
    color: #3DBECB;
}

.text-center-dir {
    text-align: center;
}


.swal2-title {
    color: #000 !important;
    font-size: 20px !important;
    font-weight: normal !important;
    margin-bottom: 5px !important;

}

.swal2-styled:focus {
    box-shadow: none !important;
}

.swal2-styled {
    height: 40px;
    padding: 5px 20px 6px !important
}

.swal2-textarea.form-control:focus {
    background: #eee;
}

.swal2-validation-message {
    margin-bottom: 13px;
}

.swal2-styled.swal2-confirm {
    background-color: #3DBECB !important;
}

.swal2-styled.swal2-cancel {
    background-color: #000 !important;

}

.swal2-styled.swal2-cancel {
    box-shadow: none;
}


#swal2-content {
    text-align: center;
    color: #A4A4A4;
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 14px;
}

.bold-text {
    font-family: "bold";
}

.first_color,
.first_color_hover:hover {
    color: #000
}

.first_bg {
    background-color: #000;
}

.second_color,
.second_color_hover:hover {
    color: #3DBECB
}

.third_color,
.third_color_hover:hover {
    color: #FFDA8F
}

.simple-btn {
    background: none;
    border: none;
}

.gray-color {
    color: #A49E9E;
}

.error {
    width: 100%;
    margin-top: .25rem;
    font-size: 14px;
    color: #dc3545 !important;
    font-family: "light";
    text-transform: lowercase;
}

.iti__flag-container {
    height: 40px;
}

.auto-icon i {
    margin: auto;
}

.two-btns {
    margin-top: 20px;
}

.two-btns a,
.two-btns button {
    vertical-align: middle;
    margin-top: 0;
}


input.no_apperance_number::-webkit-outer-spin-button,
input.no_apperance_number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input[type="number"] {
    font-family: "light"
}

.swal2-content~.swal2-actions {
    margin-top: 10px !important;
}

.fixed-menu {
    display: none;
}

.progress-wrap {
    position: absolute;
    top: -1px;
    right: -6px;
    width: 115px;
    height: 99px;
    z-index: -1;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    z-index: -1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap svg path {
    fill: none;
}

.progress-wrap svg.progress-circle path {
    stroke: #CBF5FF;
    stroke-width: 5;
    box-sizing: border-box;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}


.scroll_progress {
    position: fixed;
    top: 0;
    height: 5px;
    z-index: 99;
    width: 100%;
    overflow: hidden;
}


.scroll_progress div {
    content: "";
    height: 100%;
    background: #3DBECB;
    top: 0;
    right: 0;
}


.custom-colors {
    position: fixed;
    top: 50%;
    width: 45px;
    height: 50px;
    background: #FFDA8F;
    color: #333;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    z-index: 9;
    cursor: pointer;
}

.custom-colors i {
    margin-right: 3px;
    animation: fly 4s linear infinite;
    -webkit-animation: fly 4s linear infinite;
}

.close-theme-config,
.close-tabs {
    position: absolute;
    top: 15px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #3DBECB;
    margin: auto;
    color: #3DBECB;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.theme_config {
    position: fixed;
    top: 0;
    height: 100%;
    background: #fff;
    width: 300px;
    box-shadow: 0 0 8px #000;
    padding: 10px 20px 20px;
    opacity: 0;
    z-index: 991;

}

.theme_config.active {
    opacity: 1;
}

.theme_config>div:not(:last-of-type) {
    margin-bottom: 40px;
}

.theme_config h3 {
    font-size: 20px;
    padding: 7px 10px;
    color: #000;
    border-bottom: 1px solid #eee;
    padding: 7px 0;
}

.theme_config h4 {
    margin-top: 20px;
}

.theme_config .theme-option span {
    display: inline-block;
    background: #f9f9f9;
    border: 1px solid #eee;
    padding: 5px 20px;
    margin: 2px;
    cursor: pointer;
}


.muti-colors span {
    height: 30px;
    width: 40px;
    border: none;
    padding: 0;
}

.tippy-tooltip {
    background-color: #3DBECB;
    color: #fff;
}

.tippy-popper[x-placement^=top] .tippy-arrow {
    border-top-color: #3DBECB;
}

.tippy-popper[x-placement^=bottom] .tippy-arrow {
    border-bottom-color: #3DBECB;
}

.tippy-popper[x-placement^=left] .tippy-arrow {
    border-left-color: #3DBECB;
}

.tippy-popper[x-placement^=right] .tippy-arrow {
    border-right-color: #3DBECB;
}



.custom-btn {
    padding: 0 25px;
    min-width: 170px;
    height: 50px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border: none;
    background: #333;
    color: white;
    margin: auto;
}

.custom-btn:after,
.custom-btn:before {
    width: 0%;
    height: 0%;
    content: "";
    position: absolute;
    border-radius: 100%;
    left: 0;
    right: 0;
    margin: auto;
}

.custom-btn:after {
    transition: all 0.3s ease;
    background-color: #3DBECB;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.custom-btn:before {
    transition: all 0.3s ease-out;
    background: #222;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.custom-btn span {
    z-index: 1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.custom-btn:hover {
    color: #333;
}

.custom-btn:hover:after,
.custom-btn:hover:before {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.custom-btn:hover:after {
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}

.custom-btn:hover:before {
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}


.reverse-btn {
    background: #3DBECB;
}

.reverse-btn:after {
    background-color: #333;
}

.reverse-btn:before {
    background: #0393a0;
}


.reverse-btn:hover {
    color: #fff;
}

.white-btn {
    background: #fff;
    border: 1px solid #3DBECB;
    color: #3DBECB;
}

.white-btn:after {
    background-color: #3DBECB;
}

.white-btn:before {
    background: #51ceda;
}

.transparent-btn {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.transparent-btn:hover {
    border-color: #3DBECB;
}

.white-btn:hover {
    color: #fff;
}

.fast-scroll {
    position: fixed;
    top: calc(50% - 160px);
    z-index: 99;
    display: none;
}

.fast-scroll a {
    height: 50px;
    width: 50px;
    display: block;
    background: #fff;
    border-radius: 50%;
    margin-bottom: 18px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    border: 2px solid #3DBECB;
}

.fast-scroll a img {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    max-height: 60%;
}

.fast-scroll a:not(:last-of-type):before {
    content: "";
    position: absolute;
    top: calc(100% + 2px);
    height: 20px;
    width: 2px;
    background: #3DBECB;
    right: 45%;
}

.fast-scroll a:after {
    content: "";
    display: block;
    position: absolute;
    background: transparent;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    transition: .5s all;
    border: 3px solid #FFDA8F;
    background: #3DBECB;
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transition: .3s all;
    opacity: 0;
    z-index: -1;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -o-transition: .5s all;
}

.fast-scroll a.active:after {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    opacity: 1;
}

.fast-scroll a.active {
    background: transparent;
    border-color: transparent;
}

.loading {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 999;
    top: 0;
    text-align: center;
    background: rgba(255, 255, 255, 1);
}

.inner-loader {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

}

.inner-loader object,
.loader {
    opacity: 0;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
    transition-timing-function: ease;
    transition-duration: .4s;
    -webkit-transform: translate3d(0, 100px, 0) scale(1.2);
    transform: translate3d(0, 100px, 0) scale(1.2);
    -moz-transform: translate3d(0, 100px, 0) scale(1.2);
    -ms-transform: translate3d(0, 100px, 0) scale(1.2);
    -o-transform: translate3d(0, 100px, 0) scale(1.2);
}

.loading.active .inner-loader object,
.loading.active .loader {
    opacity: 1;
    -webkit-transform: translateZ(0) scale(1);
    transform: translateZ(0) scale(1);
    -moz-transform: translateZ(0) scale(1);
    -ms-transform: translateZ(0) scale(1);
    -o-transform: translateZ(0) scale(1);
}


.loader {
    text-align: center;
    position: relative;
    display: flex;
    margin-top: 40px;
}

.loader span {
    display: block;
    width: 20px;
    height: 20px;
    background: #3DBECB;
    border-radius: 50%;
    margin: 0 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.loader span:nth-child(2) {
    background: #FFDA8F;
}

.loader span:nth-child(3) {
    background: #cbf5ff;
}

.loader span:nth-child(4) {
    background: #000;
}

.loader span:nth-child(5) {
    background: #eb7aaf;
}


.loader span:not(:last-child) {
    animation: animate 1.5s linear infinite;
    -webkit-animation: animate 1.5s linear infinite;
}

@keyframes animate {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    100% {
        transform: translateX(30px);
    }
}

.loader span:last-child {
    animation: jump 1.5s ease-in-out infinite;
}

@keyframes jump {
    0% {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(10px, -10px);
        -webkit-transform: translate(10px, -10px);
        -moz-transform: translate(10px, -10px);
        -ms-transform: translate(10px, -10px);
        -o-transform: translate(10px, -10px);
    }

    20% {
        transform: translate(20px, 10px);
        -webkit-transform: translate(20px, 10px);
        -moz-transform: translate(20px, 10px);
        -ms-transform: translate(20px, 10px);
        -o-transform: translate(20px, 10px);
    }

    30% {
        transform: translate(30px, -50px);
        -webkit-transform: translate(30px, -50px);
        -moz-transform: translate(30px, -50px);
        -ms-transform: translate(30px, -50px);
        -o-transform: translate(30px, -50px);
    }

    70% {
        transform: translate(-150px, -50px);
        -webkit-transform: translate(-150px, -50px);
        -moz-transform: translate(-150px, -50px);
        -ms-transform: translate(-150px, -50px);
        -o-transform: translate(-150px, -50px);
    }

    80% {
        transform: translate(-140px, 10px);
        -webkit-transform: translate(-140px, 10px);
        -moz-transform: translate(-140px, 10px);
        -ms-transform: translate(-140px, 10px);
        -o-transform: translate(-140px, 10px);
    }

    90% {
        transform: translate(-130px, -10px);
        -webkit-transform: translate(-130px, -10px);
        -moz-transform: translate(-130px, -10px);
        -ms-transform: translate(-130px, -10px);
        -o-transform: translate(-130px, -10px);
    }

    100% {
        transform: translate(-120px, 0);
        -webkit-transform: translate(-120px, 0);
        -moz-transform: translate(-120px, 0);
        -ms-transform: translate(-120px, 0);
        -o-transform: translate(-120px, 0);
    }
}

.modal-body {
    padding: 0;
}

.modal-content {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
}

.modal-header {
    background: #3DBECB;
    justify-content: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.modal-header .close {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    border: 1px solid #fff;
    height: 35px;
    width: 35px;
    line-height: 29px;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: 1;
    padding: 0;
}

.modal-header .close span {
    height: 35px;
    display: block;
    margin-right: -2px;
}

.st-logo a,
.st-disclaimer {
    display: none;
}

.st-close {
    bottom: 14px !important
}

/*end general styles*/