/*start header*/
header {
    position: absolute;
    top: 0;
    padding: 10px 0;
    z-index: 99;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
}

.inner-header {
    background: rgba(255, 255, 255, .7);
    padding: 15px 25px;

}

header.active .inner-header {
    background: #fff;
    box-shadow: 0 2px 8px #444;
}

.nav-icon {
    width: 50px;
    height: 45px;
    position: relative;
    cursor: pointer;
    display: none;
}

.change-langouage {
    color: #000;
}

.nav-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 50%;
    background: #000000;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.nav-icon span:nth-child(even) {
    border-radius: 0 9px 9px 0;
}

.nav-icon span:nth-child(odd) {
    border-radius: 9px 0 0 9px;
}

.nav-icon span:nth-child(1),
.nav-icon span:nth-child(2) {
    top: 0px;
}


.nav-icon span:nth-child(3),
.nav-icon span:nth-child(4) {
    top: 12px;
    width: 40%;
}

.nav-icon span:nth-child(5),
.nav-icon span:nth-child(6) {
    top: 24px;
    width: 30%;
}


.nav-icon.open span:nth-child(1) {
    top: 7px;
}

.nav-icon.open span:nth-child(2) {
    top: 7px;
}

.nav-icon.open span:nth-child(3) {
    opacity: 0;
}

.nav-icon.open span:nth-child(4) {
    opacity: 0;
}

.nav-icon.open span:nth-child(5) {
    top: 22px;
    width: 50%;

}

.nav-icon.open span:nth-child(6) {
    top: 22px;
    width: 50%;

}

.user-res-link {
    display: inline-block;
}

.user-res-link a {
    display: inline-block;
    color: #fff;
    height: 40px;
    width: 40px;
    background: #000;
    border-radius: 50%;
    line-height: 40px;
    position: relative;
    overflow: hidden;
}
.user-res-link.active a{
    background: #fff;
}
.user-res-link a img {
    position: absolute;
    inset: 0;
    min-height: 100%;
    min-width: 100%;
}

.main-header-links a {
    color: #000;
    position: relative;
}

.main-header-links a.active {
    color: #fff;
    text-shadow: 0 0 5px #000;
}

.main-header-links a img {
    max-width: 35px;
}

.main-header-links a:not(:last-of-type):after {
    content: "|";
    position: absolute;
    top: 2px;
}

.main-logo object {
    max-width: 180px;
}

.main-logo {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.main-logo object {
    pointer-events: none;
}

.main-logo a {
    display: inline-block;
}

.main-search {
    width: 280px;
    position: relative;
}


.main-search .form-control {
    background: transparent;
    border: 1px solid #000;
    height: 55px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.main-search button {
    position: absolute;
    bottom: 10px;
    height: 36px;
    background: none;
    border: none;
    width: 38px;
    color: #fff;
}



.main-search .form-control:focus {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-color: #3DBECB;
    color: #3DBECB;
}

.close-search {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 30px;
    border: 1px solid #000;
    background: none;
    color: #000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 20px;
}

.main-header-icons {
    display: inline-block;
}


.icon-img {
    height: 39px;
    width: 39px;
    position: relative;
    border: 1px solid #000;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: auto 5px;
    background: transparent;
}

.change-langouage:hover {
    color: #fff;
}

.icon-img img {
    max-height: 20px;
}

.icon-img.active,
.icon-img:hover {
    background-color: #3DBECB;
    border-color: #03abbb;
    box-shadow: inset 0 0 17px #1da9b7;
}

.num {
    position: absolute;
    top: -6px;
    right: -4px;
    min-width: 20px;
    background: #000;
    color: #fff;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.icon-img.active .num,
.icon-img:hover .num {
    background: #fff;
    color: #3DBECB;
}

.header-icon {
    display: inline-block;
    position: relative;
}


.slide-menu {
    display: none;
    z-index: 9;
    position: absolute;
    margin-top: 10px;
    top: calc(100% + 4px);
    background: #3DBECB;
    color: #fff;
    width: 200px;
}

.currency-menu {
    width: 80px;
    text-align: center !important;
}

.slide-menu:before {
    content: "";
    position: absolute;
    border: 5px solid transparent;
    top: -10px;
    border-bottom-color: #3DBECB;
}

.slide-menu.active {
    top: 100%;
}

.more-slide-menu {
    display: block;
    background: #03abbb;
    color: #fff;
    padding: 9px 10px 10px;
    text-align: center;
    font-size: 14px;
}

.more-slide-menu:hover {
    color: #3DBECB;
    background: #fff;
}

.slide-menu li a {
    display: block;
    color: #fff;
    position: relative;
    display: block;
    font-size: 12px;
    line-height: 20px;
    border-bottom: 1px solid #43b3be;
}

.slide-menu li a:hover {
    color: #fff;
    background: #03abbb;
}



.slide-menu li a h3 {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
}

.slide-menu img {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 16px;
}

.slide-menu ul {
    max-height: 200px;
}

.languages-choose,
.languages-choose .icon-img,
.slide-languages {
    display: inline-block;
}

.slide-languages {
    display: none;
}

.slide-languages a {
    position: relative;
    z-index: 1;
    display: none;
}

.slide-languages a.active:before {
    content: "";
    position: absolute;
    top: -11px;
    right: -12px;
    height: calc(100% + 23px);
    width: calc(100% + 24px);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-image: url(../images/icons/lang.png);
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center center;
}



.slide-languages a img {
    height: 30px;
    width: 30px;
}

.languages-choose.active .slide-languages {
    animation: fadeIn .5s linear both;
    -webkit-animation: fadeIn .5s linear both;
    display: inline-block;
}

.languages-choose.active .slide-languages a {
    display: inline-block;
    animation: fadeIn .5s linear both .15s;
    -webkit-animation: fadeIn .5s linear both .15s;
}

.slide-languages.active a:last-of-type {
    animation-delay: .3s;
}

header .container {
    position: relative;
}

.side-menu {
    position: absolute;
    top: 0;
    background: #fff;
    box-shadow: 0 3px 6px #000000;
    width: 400px;
    border-radius: 9px;
    z-index: 9;
    overflow: hidden;
}

.side-menu-title {
    background: #3DBECB;
    padding: 20px;
    position: relative;
}

.side-menu-title img {
    max-width: 150px;
    margin: auto;
}

.side-menu-title button {
    color: #fff;
    position: absolute;
    border: 1px solid #fff;
    height: 35px;
    width: 35px;
    line-height: 32px;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    bottom: 30px;
}

.side-menu-title button:hover {
    background: #fff;
    color: #3DBECB;
}

.slide-menu-content ul li a {
    padding: 20px;
    display: block;
    border-bottom: 1px solid #CBF5FF;
    color: #000;
    position: relative;
}


.slide-menu-content ul li a:before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    background: #CBF5FF;
    z-index: -1;
}

.slide-menu-content ul li a:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 0;
    background: #3DBECB;
    z-index: -2;
}

.slide-menu-content ul li a img {
    height: 35px;
    position: absolute;
    top: calc(50% - 17px);
}

.slide-menu-content .select-box {
    display: inline-block;
    width: 174px;
    margin: 2px;
    border: 1px solid #000;
    position: relative;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.slide-menu-content .select-box img {
    position: absolute;
    max-width: 25px;
    top: 15px;
    z-index: 1;
    max-height: 23px;
}

.slide-menu-content .select2-container--bootstrap4 .select2-selection {
    width: calc(100% - 35px);
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    color: #000;
    background: transparent;
    font-size: 14px;
}

.side-menu-select-boxs {
    padding: 17px;
    text-align: center;
}

.slide-menu-content .select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
    line-height: 49px;
}

.slide-menu-content .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b {
    top: 54%;
    border-color: #3DBECB transparent transparent;
}

.slide-menu-content .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow {
    top: 0;
    height: 100%;
}

.slide-menu-content ul li a:hover,
.slide-menu-content ul li.active a {
    color: #fff;
}

.slide-menu-content ul li a:hover:after,
.slide-menu-content ul li.active a::after {
    width: 100%;
}

.slide-menu-content ul li a:hover::before,
.slide-menu-content ul li.active a::before {
    background: #03abbb;
    width: 70px;
    transition-delay: .3s;
}

.inner-side-menu {
    perspective: 1000px;
}

.slide-menu-content {
    max-height: 70vh;
}

.side-menu {
    opacity: 0;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
    transition-timing-function: ease;
    transition-duration: .4s;
    z-index: -999;
    -webkit-transform: translate3d(0, 100px, 0) scale(1.2);
    transform: translate3d(0, 100px, 0) scale(1.2);
    -moz-transform: translate3d(0, 100px, 0) scale(1.2);
    -ms-transform: translate3d(0, 100px, 0) scale(1.2);
    -o-transform: translate3d(0, 100px, 0) scale(1.2);
    display: none;
}


.side-menu.active {
    opacity: 1;
    -webkit-transform: translateZ(0) scale(1);
    transform: translateZ(0) scale(1);
    -moz-transform: translateZ(0) scale(1);
    -ms-transform: translateZ(0) scale(1);
    -o-transform: translateZ(0) scale(1);
    z-index: 99;
}

.side-menu.active .inner-side-menu ul li {
    animation: fadeIn .5s ease both .1s;
    -webkit-animation: fadeIn .5s ease both .1s;
}

.side-menu.active .inner-side-menu ul li:nth-of-type(2) {
    animation-delay: .2s;
}

.side-menu.active .inner-side-menu ul li:nth-of-type(3) {
    animation-delay: .4s;
}

.side-menu.active .inner-side-menu ul li:nth-of-type(4) {
    animation-delay: .6s;
}

.side-menu.active .inner-side-menu ul li:nth-of-type(5) {
    animation-delay: .8s;
}

.side-menu.active .inner-side-menu ul li:nth-of-type(6) {
    animation-delay: 1s;
}

.side-menu.active .inner-side-menu ul li:nth-of-type(7) {
    animation-delay: 1.2s;
}

.side-menu.active .inner-side-menu ul li:nth-of-type(8) {
    animation-delay: 1.4s;
}

.side-menu.active .inner-side-menu ul li:nth-of-type(9) {
    animation-delay: 1.6s;
}


.side-menu.active .inner-side-menu ul li:nth-of-type(10) {
    animation-delay: 1.8s;
}

.side-menu.active .inner-side-menu .select-box,
.side-menu.active .side-menu-title {
    animation: fadeIn .5s ease both .1s;
    -webkit-animation: fadeIn .5s ease both .1s;
}

.pages-header .container-fluid>.row {
    height: 400px;
}

.pages-header {
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}


.line-title h1,
.line-title h3 {
    position: relative;
}

.line-title h3 {
    font-size: 25px;
    margin-bottom: 25px;
}

.pages-header h1 {
    margin-top: 95px;
}

.line-title .line,
.line-title h3:before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 50%;
    max-width: 200px;
    background-color: #1da9b7;
}

.line-title {
    position: relative;
    display: inline-block;
}


.letter {
    display: inline;
}

.hidden-title {
    position: relative;
    overflow: hidden;
}

.page-title {
    background: #3DBECB;
    padding: 20px;
    opacity: 0;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


body.active-title .page-title {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    opacity: 1;
}

.login-pop-div {
    padding: 20px;
}

.login-pop-div .side-img {
    position: relative;
    display: block;
    margin: auto auto 13px;
}

.login-pop-div a:hover .side-img {
    background: #3DBECB;
    border-color: #3DBECB;
}

/*end header*/