.main-content {
    overflow: hidden;
    position: relative;
}

.slider {
    margin-bottom: 20px;
}

.main-slide-item {
    display: block;
    height: 500px;
}


.main-slider .owl-dots {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 1;
    width: 30px;
}

.main-slider .owl-dots .owl-dot {
    display: block;
}

.owl-theme .owl-dots .owl-dot span {
    height: 20px;
    width: 20px;
    background: #FFFFFF;
    box-shadow: 0 0 2px #888;
    position: relative;
    border: 1px solid #fff;
    -webkit-transition: all 0.5s linear 0s;
    -moz-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
    -ms-transition: all 0.5s linear 0s;
    margin-bottom: 7px;
}

.owl-theme .owl-dots .owl-dot span:before {
    content: "";
    position: absolute;
    height: 14px;
    width: 14px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #3DBECB;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot.active:hover span {
    background: transparent;
    border-color: #3DBECB;
}

.owl-theme .owl-dots .owl-dot:hover span {
    background: #3DBECB;
    border-color: #3DBECB;
}


.owl-theme .owl-dots .owl-dot.active span:before,
.owl-theme.owl-dots .owl-dot span::before {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.slider-caption {
    position: absolute;
    max-width: 720px;
    height: 100%;
    padding: 20px 40px;
    overflow: hidden;
    margin: auto;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: calc(100% - 150px);
    text-align: center;
}

.slider-caption h3 {
    font-size: 40px;
    margin-bottom: 25px;
    line-height: 40px;
}

.slider-caption p {
    color: #fff;
    line-height: 35px;
    text-shadow: 0 1px 1px #000;
}



.slider-caption a {
    color: #fff;
    border: 2px solid #3DBECB;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    display: inline-block;
    padding: 7px 20px 10px;
    min-width: 180px;
    margin-top: 20px;
    font-size: 20px;
}


.slider-caption a:hover {
    background: #3DBECB;
    color: #fff;
    border-color: #3DBECB;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.owl-item.active .slider-caption h3 {
    animation: fadeInDown .7s cubic-bezier(0.445, 0.05, 0.55, 0.95) both .5s;
    -webkit-animation: fadeInDown .7s cubic-bezier(0.445, 0.05, 0.55, 0.95) both .5s;
}


.owl-item.active .slider-caption p {
    animation: fadeIn .7s ease-in-out both 1.7s;
    -webkit-animation: fadeIn .7s ease-in-out both 1.7s;
}



.owl-item.active .slider-caption a {
    animation: flipInY 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) both 1.9s;
    -webkit-animation: flipInY 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) both 1.9s;
}

.map-sec {
    position: relative;
}

.map-img {
    max-height: 500px;
    min-height: 430px;
    display: block;
    margin: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.marker {
    max-height: 100px;
    position: absolute;
    top: 47%;
    animation: bounce 2s linear both infinite;
    -webkit-animation: bounce 2s linear both infinite;
}

.map-sec a {
    background: #333333;
    padding: 10px 20px;
    z-index: 9;
    position: absolute;
    top: 20px;
}

.map-sec a:hover {
    background: #3DBECB;
    color: #fff;
}



.contact-div {
    position: absolute;
    top: -30px;
    width: 50%;
    max-width: 435px;
    background: #fff;
    padding: 50px 50px;
    box-shadow: 0 0 8px #888;
}

.border-form .form-group {
    margin-bottom: 30px;
    z-index: 1;

}

.border-form .form-control {
    border: none;
    height: 50px;
    padding: 10px 0;
    position: relative;
    z-index: 1;
    background: transparent;
    color: #000;
}

.border-form textarea.form-control {
    min-height: 50px;
    padding-top: 15px;
}


.border-form label {
    height: 1px;
    background: #000;
    position: absolute;
    bottom: -10px;
    width: 100%;
    right: 0;
}

.border-form .form-control:focus {
    background: none;
    color: #000;
    padding-left: 15px;
    padding-right: 15px;
}

.border-form .form-control:focus~label {
    background: #FFF1D4;
    height: 50px;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}

.border-form .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #000;
}

.border-form .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #000;
}

.border-form .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #000;
}

.border-form .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #000;
}


.border-form .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #000;
}

.btn-div {
    margin-top: 50px;
}

.about-sec img {
    max-height: 400px;
    display: block;
}

.partener-img {
    height: 170px;
    width: 170px;
    margin: auto;
    border: 1px solid #000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
}

.partener-img img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    max-width: 70%;
    max-height: 70%;
    left: 0;
    right: 0;
    margin: auto;
}

.partener-div h3 {
    background: #F1FCFF;
    display: inline-block;
    margin-top: 17px;
    padding: 5px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.partener-img:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    border-left: 3px solid #3DBECB;
    border-top: 3px solid #3DBECB;
    animation: rotate_partenter 2s linear infinite;
    -webkit-animation: rotate_partenter 2s linear infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: 0;
}

.partener-div:hover .partener-img:before {
    opacity: 1;
}


.partener-div:hover h3 {
    background: #3DBECB;
    color: #fff;
}


.partener-div:hover .partener-img {
    border-color: transparent;
}


.statistics-sec {
    background-color: #F1FCFF;
    position: relative;
    background-image: url(../images/main/statistics.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;

}

.statistics-sec:before {
    background-image: url(../images/main/statistics-hearts.png);
    background-repeat: repeat;
    animation: statics_bg 50s linear infinite;
    -webkit-animation: statics_bg 50s linear infinite;
}

.count-div {
    position: relative;
    padding-top: 110px;
    margin-bottom: 50px;
}

.count-div img {
    max-height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.count-div h3 {
    font-size: 22px;
}

.counter-value {
    background-color: #FFDA8F;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    min-width: 140px;
}




.filter-tabs-btn {
    background: #3DBECB;
    padding: 10px 20px;
    color: #fff;
    margin-top: 20px;
}

.tab-content {
    padding-top: 10px;
    perspective: 2000px;
    -o-perspective: 2000px;
    -ms-perspective: 2000px;
    -moz-perspective: 2000px;
    -webkit-perspective: 2000px;
    perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -webkit-perspective-origin: 50% 50%;
    overflow: hidden;
    position: relative;
    min-height: 100px;
}

.projects-loading {
    text-align: center;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}

.nav-tabs {
    border: none;
    margin-top: 30px
}

.project-tabs .nav-tabs .nav-item {
    padding: 0;
}

.project-tabs .nav-tabs .nav-link {
    border-radius: 0;
    text-align: center;
    color: #828282;
    margin: 5px 0;
    padding: 15px 5px;
    background-color: #F9F9F9;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #000;
    background-color: #fff;
    border-color: transparent !important;
    background-color: var(--light_color);
}


.tab-content>.tab-pane {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform-origin: 0% 0%;
    transition: opacity 0.8s, transform 0.8s;
    -webkit-transition: opacity 0.8s, transform 0.8s;
    -moz-transition: opacity 0.8s, transform 0.8s;
    -ms-transition: opacity 0.8s, transform 0.8s;
    -o-transition: opacity 0.8s, transform 0.8s;
    pointer-events: none;
}


.tab-content>.tab-pane.active {
    position: relative;
    z-index: 1;
    opacity: 1;
    transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    transition-delay: 0.2s;
    pointer-events: inherit
}

.projects-owl .item {
    padding: 5px;
}

.project-div {
    box-shadow: 0 0 5px #888;
    background: #fff;
    position: relative;
}

.main-projects-sec .section-title {
    margin-bottom: 10px;
}

.main-projects-sec .has-side a {
    color: #fff;
    display: inline-flex;
    font-size: 16px;
    top: -5px;
}

.project-img {
    position: relative;
    height: 200px;
    overflow: hidden;
    margin-bottom: 10px;
}

.project-img img,
.cart-img img {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.project-title {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: underline;
    color: var(--main_color);
}

.project-title~p {
    line-height: 25px;
    height: 50px;
    overflow: hidden;
    margin-bottom: 35px;
}

.project-div .section-title {
    margin-bottom: 25px;
}

.project-div .section-title .side-img {
    border-width: 1px;
    height: 50px;
    width: 50px;
}

.project-div .section-title .side-img:before {
    content: "";
    position: absolute;
    top: 2px;
    right: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background: #fff;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.project-div .section-title h3 {
    font-size: 16px;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--main_color);
}

.stars i {
    color: #EBEBEB;
    text-shadow: 0 1px 1px #000;
    font-size: 16px;
    display: inline-block;
}

.stars .yellow-star {
    color: #F8CC0C
}

.padding-div {
    padding-right: 20px;
    padding-left: 20px;
}

.full-progress {
    height: 10px;
    background-color: var(--light_color);
    position: relative;

}

.progress-bar-ratio {
    position: absolute;
    background-color: var(--main_color);
    top: 0;
    width: 0;
    height: 100%;
}

.progress-min-max {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 9px 4px 5px;
    color: #A4A4A4;
}

.progress-ratio {
    position: absolute;
    top: -45px;
    border: 1px solid var(--main_color);
    left: 0;
    right: 0;
    background: #fff;
    margin: auto;
    max-width: 50px;
    text-align: center;
    color: var(--main_color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 3px 0;
    font-size: 14px;
}



.progress-ratio:after {
    position: absolute;
    content: " ";
    transform: rotate(-135deg);
    border-radius: 2px;
    background: #fff;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    height: 10px;
    width: 10px;
    border-left: 1px solid;
    border-top: 1px solid;
    border-color: var(--main_color);
    bottom: -5px;
    left: calc(50% - 5px);
}

.total-donation {
    position: absolute;
    background: var(--main_color);
    color: #fff;
    top: -10px;
    padding: 5px 10px;
}

.projects-money span {
    display: inline-block;
    background-color: var(--light_color);
    padding: 5px 20px 7px;
    margin: 5px auto 0;
    min-width: 80px;
}

.project-shape {
    border-bottom: 1px solid var(--main_color);
    margin-bottom: 30px;
    margin-top: 35px;
    position: relative;
}

.project-shape span {
    height: 45px;
    width: 45px;
    top: -22px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid var(--main_color);
    display: inline-block;
    text-align: center;
    position: absolute;
    background: #fff;

}

.project-shape span img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    max-height: 30px;
}

.project-select .form-group {
    display: inline-block;
    vertical-align: text-top;
}

.project-select .select-input,
.project-select .select-input2 {
    width: 70px;
}

.project-select .form-control,
.project-select .select2-container--bootstrap4 .select2-selection {
    border-color: var(--main_color);
    color: #000;
    height: 40px !important;
}

.project-select .select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
    line-height: 39px;
}

.project-select .select2-container--bootstrap4.select2-container--focus .select2-selection {
    background: var(--main_color);
    color: #fff;
}

.project-select .form-control:focus {
    background: #fff;
}

.project-select .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b {
    border-color: var(--main_color) transparent transparent;
}

.project-select .select2-container--bootstrap4.select2-container--focus .select2-selection__arrow b {
    border-color: #fff transparent transparent;
}

.number-input-div {
    width: 120px;
    text-align: center;
    position: relative;
}

.number-input-div .form-control {
    text-align: center;
    padding: 0 40px;
}

.numb-control {
    position: absolute;
    bottom: 0;
    height: 40px;
    color: var(--main_color);
    line-height: 40px;
    width: 30px;
    cursor: pointer;
}

.numb-control::selection {
    background-color: transparent;
    color: #3DBECB
}

.project-select .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #000;
}

.project-select .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #000;
}

.project-select .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #000;
}

.project-select .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #000;
}


.project-select .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #000;
}

.project-select .btn-div {
    display: inline-block;
    vertical-align: text-top;
    margin-top: 0;

}

.project-select .custom-btn {
    border-color: var(--main_color);
    color: var(--main_color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    min-width: 100px;
    height: 40px;
}

.project-select .custom-btn:hover {
    color: #fff;
}

.project-select form>div {
    margin: 2px;
}

.project-btns {
    border-top: 1px solid var(--main_color);
    margin-top: 15px;
    display: flex;
}


.project-btns img {
    margin: auto auto 1px;
    max-height: 40px;
    display: block;
}

.project-btns .tooltip-link {
    padding: 15px;
    display: block;
}



.b-flying-img {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    z-index: 5;
    animation: fly 0.8s 1;
    -webkit-animation: fly 0.8s 1;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 992;
}

/* .project-div:hover {
    background: #3DBECB;
} */

.project-div:hover .project-img {
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -ms-border-radius: 20px 20px 0 0;
    -o-border-radius: 20px 20px 0 0;
}

/* .project-div:hover .section-title h3,
.project-div:hover .project-title {
    color: #fff;
} */

.project-div:hover .section-title .side-img {
    border-color: #fff;
}

.project-div:hover .full-progress {
    background: #e4e4e4
}

.project-div:hover .progress-bar-ratio {
    background: #3DBECB;
}

/* .project-div:hover .progress-min-max {
    color: #ebebeb;
} */

.project-div:hover .project-shape,
.project-div:hover .project-shape span,
.project-div:hover .project-btns {
    border-color: #3DBECB;
}

.project-div:hover .project-shape span {
    background: #FFDA8F;
}

.project-div:hover .project-btns .tooltip-link {
    background:#3DBECB;
    color: #fff;
}
.project-btns .tooltip-link:hover {
    background:#FFDA8F !important;
    color: #333 !important;
}

.project-div:hover .project-select .form-control,
.project-div:hover .project-select .select2-container--bootstrap4 .select2-selection {
    border-color: #3DBECB;
}

.project-div:hover .project-select .select2-container--bootstrap4.select2-container--focus .select2-selection {
    background: #3DBECB;
}


.project-div:hover .project-select .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b {
    border-color: #3DBECB transparent transparent;
}

.project-div:hover .project-select .select2-container--bootstrap4.select2-container--focus .select2-selection__arrow b {
    border-color: #fff transparent transparent;
}

.project-div:hover .project-select .custom-btn {
    border-color: #3DBECB;
    color: #3DBECB;
}

.project-div:hover .project-select .custom-btn:hover {
    color: #fff;
}



.project-div:hover .project-select .custom-btn:after {
    background-color: #3DBECB;
}

.project-div:hover .project-select .custom-btn:before {
    background: #3DBECB;
}

.project-div:hover .stars i {
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
}

/* .project-div:hover .projects-money {
    color: #fff;
} */

.project-div:hover .projects-money span {
    background: #3DBECB;
    color: #fff;
}

/* .project-div:hover .project-title~p {
    color: #eee;
} */

.project-div:hover .progress-ratio {
    border-color: #3DBECB;
    color: #3DBECB;
}



.project-div:hover .progress-ratio:after,
.project-div:hover .plus-num,
.project-div:hover .minus-num,
.project-div:hover .project-btns button {
    border-color: #03abbb;
}

.project-div:hover .numb-control {
    color: #3DBECB;
}

.project-grid .project-div {
    margin-bottom: 20px;
}

.project-pg .inner-tab {
    padding: 0 15px;
}

.project-grid {
    padding: 0 7px;
}

.ambasador-donate {
    background: #f3f3f3;
    padding: 25px 10px 15px;
    text-align: center;
    margin-top: 30px;
    display: none;
}

.check-donate-amb {
    display: none;
}

.ambasador-donate .form-group {
    display: inline-block;
    vertical-align: text-bottom;
    margin-bottom: 10px;
}

.ambasador-donate .numb-control {
    height: 50px;
    line-height: 50px;
}

.ambasador-donate .select2-container--bootstrap4 .select2-selection--single.select2-container--bootstrap4 .select2-selection,
.ambasador-donate .select2-container--bootstrap4 .select2-selection--single,
.ambasador-donate .form-control {

    border-color: #3DBECB;
}


.statistics-pg {
    background: none;
}

.statistics-pg::before {
    content: none;
}

.count-div p {
    color: #000;
    margin-top: 40px;
    max-width: 400px;
    margin: 30px auto 0;
    height: 87px;
    overflow: hidden;
}

.contact-pg .marker {
    top: 25%;
}

.contact-pg .map-sec {
    margin-bottom: 50px;
}

.contact-pg .contact-div {
    position: static;
    max-width: 500px;
    width: 100%;
    margin: 10px 0 30px;
}

.contact-pg .map-img {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.contact-info .section-title {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

.contact-info .section-title:hover {
    color: #3DBECB;
}

.contact-info .section-title:hover .side-img {
    border-color: #3DBECB;
    background: #3DBECB;

}

.contact-info h2 {
    margin-bottom: 50px;
}

.inner-notification li {
    position: relative;
    padding-bottom: 40px;

}

.inner-notification li:not(:last-of-type) {
    margin-bottom: 50px;
    border-bottom: 2px solid #83E8FF;
}

.inner-notification li:before {
    content: "";
    position: absolute;
    top: -20px;
    width: 100%;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.inner-notification li.new:after {
    content: "";
    position: absolute;
    top: 45px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #3DBECB;
}

.inner-notification .section-title {
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.inner-notification .new::before {
    background: #F6FDFF;
}

.inner-notification .section-title .side-img {
    overflow: hidden;
    border: none;
}

.inner-notification .section-title .side-img img {
    min-width: 100%;
    min-height: 100%;
}

.inner-notification .section-title h3 {
    font-size: 18px;
    margin-bottom: 0;
}

.side-notify {
    position: absolute;
    top: 0;
    text-align: center;
    width: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}


.side-notify span {
    display: block;
    margin-bottom: 10px;
}

.remove-btn {
    color: #333333;
    font-size: 20px;
}


.faq-div {
    border-top: 1px solid #333;
    color: #333333;
    padding: 30px 0;
}



.faq-div h3 {
    position: relative;
    cursor: pointer;
}

.faq-div h3 i {
    position: absolute;
    top: 5px;
    font-size: 23px;
}

.slide-faq {
    display: none;
}

.faq-div.active .slide-faq {
    animation: fadeInUp .5s linear both;
    -webkit-animation: fadeInUp .5s linear both;
}

.faq-div.active {
    border-color: #3DBECB;
}

.faq-div.active h3 i {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    color: #FFDA8F;
    top: 8px;

}


.faq-div.active h3 {
    color: #3DBECB;
}

.multi-checkboxes {
    margin: 70px auto 20px;
}

.custom-checkbox input~label span {
    background: #CBF5FF;
    padding: 10px 18px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    min-width: 165px;
    display: inline-block;
}

.custom-checkbox input:checked~label span {
    background: #3DBECB;
    color: #fff;
}

.multi-checkboxes .custom-checkbox input~label:before {
    height: 40px;
    width: 40px;
    top: 1px;
}



.multi-checkboxes .custom-checkbox input~label:after {
    font-size: 30px;
    height: 32px;
    width: 32px;
    top: 5px;
}

.donate-quantity>div {
    display: inline-block;
    vertical-align: text-top;
    margin: 5px;
}

.donate-quantity .numb-control {
    height: 49px;
    line-height: 40px;
    width: 40px;
    border-color: #333;
    line-height: 50px;
    font-size: 26px;
}

.donate-quantity .number-input-div {
    width: 200px;
}

.donate-quantity .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b {
    border-color: #3DBECB transparent transparent;
}

.sm-raduis-input {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}



.big-input .select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
    line-height: 50px;
}


input.error,
.form-control.error,
.error~.select2-container--bootstrap4 .select2-selection {
    border-color: #dc3545 !important;
    color: #dc3545 !important;
}

.gray-form .form-control,
.gray-form .select2-container--bootstrap4 .select2-selection {
    border: none;
    border-bottom: 1px solid #3DBECB;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    color: #AEAEAE;
    z-index: 1;
    background: transparent;
    padding: 0;
}

.gray-form textarea.form-control {
    padding-top: 15px;
}

.gray-form .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b {
    border-color: #AEAEAE transparent transparent;
}

.gray-form .form-group {
    margin-bottom: 30px;
    z-index: 1;
}

.gray-form .form-control:focus,
.gray-form .select2-container--bootstrap4.select2-container--focus .select2-selection {
    background: transparent;
    color: #000;
    padding-left: 15px;
    padding-right: 15px;
}

.gray-form .select2-container--bootstrap4.select2-container--focus .select2-selection.select2-selection--multiple {
    padding: 0;
}

.moving-label {
    position: absolute;
    top: 18px;
    margin: auto;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
}

.has_val .moving-label {
    z-index: 1;

}

.gray-form .moving-label {
    color: #AEAEAE;
}

.has_val .moving-label,
.multi-label,
.gray-form .form-control:focus .moving-label,
.gray-form .select2-container--bootstrap4.select2-container--focus~.moving-label,
.gray-form .form-control:active .moving-label,
.gray-form .select2-container--bootstrap4.select2-container--focus~.moving-label {
    top: -18px;
    color: #3DBECB;

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    box-shadow: 0 0 0 30px transparent inset;
    -webkit-box-shadow: 0 0 0 30px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    -moz-transition: background-color 5000s ease-in-out 0s;
    -ms-transition: background-color 5000s ease-in-out 0s;
    -o-transition: background-color 5000s ease-in-out 0s;
}

.dark_second_color {
    color: #3B8991;
}

.user-div {
    padding: 20px;
    max-width: 700px;
    margin: auto auto 20px;
}

.user-div h3 {
    font-size: 18px;
    font-family: "bold";
}

.checkout-div {
    background: #F6FDFF;
    padding: 50px;
    box-shadow: 0 3px 6px #ccc;
}


.checkout-div:before {
    background: #3DBECB;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 50%;
    max-width: 450px;
}

.checkout-div h2 {
    line-height: 70px;
    font-size: 60px;
    margin-bottom: 10px;
}

.checkout-div .btn-div {
    margin-top: 10px;
}

.checkout-div .custom-btn {
    height: 70px;

}

.circle-checkboxes-div {
    max-width: 465px;
    background-color: #fff;
    box-shadow: 0 0 5px #888;
    padding-bottom: 10px;
}

.checkbox-has-img img {
    max-width: 70px;
}


.circle-checkboxes-div h3 {
    border-bottom: 1px solid #3DBECB;
    padding: 10px 15px;
    margin-bottom: 40px;
}

.checkbox-has-img img {
    max-height: 25px;
}


.circle-checkboxes-div .form-group {
    margin-bottom: 30px;
}


.login-width {
    max-width: 1000px;
    margin: auto;
}

.login-width .create-accout-div {
    margin-top: 40px;
}

.gray-form .verfication-phone input {
    width: 55px;
    height: 40px;
    display: inline-block;
    padding: 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 4px 6px;
    color: #3DBECB;
}

.verfication-phone~.error {
    text-align: center;
}

.input-has-icon i {
    position: absolute;
    top: 22px;
    font-size: 20px;
    z-index: -1;
    margin: 0;
}

.iti {
    display: block;
}

.phone-input {
    z-index: 2 !important;
}

.iti--separate-dial-code .iti__selected-flag {
    padding: 0;
    background: none;
    margin-top: 5px;
}

.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
    background: none;
}


.file-label {
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.custom-file-div input~label {
    height: 150px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 0;
    background: #CBF5FF;
}

.custom-file-div * {
    cursor: pointer;
}

.single-file img,
.multi-file label>img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    max-width: 90%;
    max-height: 100%;
}

.images-multi img {
    width: 47px;
    max-height: 47px;
    margin: 4px;
}

.multi-file input~label {
    overflow-y: auto;
    overflow-x: hidden;
}

.remove-file {
    height: 30px;
    width: 30px;
    border: 1px solid #03abbb;
    border-radius: 7px;
    line-height: 30px;
    color: #03abbb;
    text-align: center;
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 1;
}

.association-div {
    margin-bottom: 30px;
}

.association-div h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.file_name {
    background: #3DBECB;
    display: inline-block;
    color: #fff;
    padding: 5px 30px;
    position: absolute;
    cursor: pointer;
    margin-bottom: 0;
    top: 20px;
}

.has-file-name {
    margin-top: 20px;
}

.has-file-name .moving-label {
    top: -16px;
}


.has-file-name .form-control {
    height: 60px;
    line-height: 75px;
}

.association-div h3 i {
    margin-top: 6px;
}

.files-show .form-group {
    margin-bottom: 15px;
}

.files-show>div {
    padding: 0 10px;
}

.light_bg {
    background: #F6FDFF;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.about-sec-2 img {
    margin-bottom: 20px;
}

.about-sec-2 h2 {
    margin-bottom: 20px;
}


.main-about-item {
    height: 400px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 75%;
}

.slider-about-caption {
    width: 35%;
    position: absolute;
    top: 50%;
    background: #fff;
    border-radius: 100px 0 0 0px;
    -webkit-border-radius: 100px 0 0 0px;
    -moz-border-radius: 100px 0 0 0px;
    -ms-border-radius: 100px 0 0 0px;
    -o-border-radius: 100px 0 0 0px;
    padding: 50px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    box-shadow: 0 0 8px #888;
    min-height: 65%;
    display: flex;
    align-items: center;
    max-height: calc(100% - 100px);
    overflow-x: hidden;
    overflow-y: auto;
}

.slider-about-caption>div {
    flex: 0 0 100%;
}

.has-quote {
    position: relative;
    z-index: 1;
}

.slider-about-caption:before,
.has-quote::before,
.slider-about-caption:after,
.has-quote::after {
    content: "";
    position: absolute;
    background-image: url(../images/about/quot.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    z-index: -1;
    height: 60px;
    width: 60px;
}

.slider-about-caption:before {
    top: 70px;
}

.slider-about-caption:after,
.has-quote::after {
    bottom: 40px;
    transform: scale(-1);
    -webkit-transform: scale(-1);
    -moz-transform: scale(-1);
    -ms-transform: scale(-1);
    -o-transform: scale(-1);
}

.slider-about-caption .line-title h3:before {
    background-color: #eec574;
}

.owl-item.active .slider-about-caption div {
    animation: fadeIn .7s cubic-bezier(0.445, 0.05, 0.55, 0.95) both .2s;
    -webkit-animation: fadeIn .7s cubic-bezier(0.445, 0.05, 0.55, 0.95) both .2s;
}

.main-about-owl .owl-dots {
    position: absolute;
    bottom: -10px;
}

.dark-dots .owl-dots .owl-dot span {
    border-color: #3DBECB;
}

.about-sec-3 .img {
    min-height: 500px;
    position: relative;
    overflow: hidden;
}

.about-sec-3 .marquee-div {
    height: 100%;
    position: absolute;
    max-width: 400px;
    background: #fff;
    width: 70%;
    padding: 20px;
    top: 0;
    flex: 0 0 100%;
}

.about-sec-3 .img img {
    position: absolute;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    right: 0;

}

.has-quote::before {
    top: 20px;
}

.has-quote::after {
    top: calc(100% - 80px);
}

.share-url-div {
    position: relative;
    display: none;
    margin-top: 30px;
}

.gray-form .share-url-div .form-control {
    background: #CBF5FF;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    color: #333333;
    max-width: calc(100% - 120px);
}

.share-url-div .custom-btn {
    position: absolute;
    min-width: 100px;
    top: 0;
}

.share-url,
.soc-but {
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.share-url {
    background: #3DBECB;
    position: absolute;
    perspective: 300px;
    font-size: 18px;
    color: white;
    top: 0;
    text-align: center;
    z-index: 9;
    cursor: grab
}

.share-url:hover {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.share-url:hover .fb {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.share-url:hover .tw {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
}

.share-url:hover .whatsapp {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
}

.share-url:hover .mail {
    transform: rotateX(-180deg);
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    -o-transform: rotateX(-180deg);
}

.soc-but {
    position: absolute;
    left: 0;
    top: 0;
    transition: transform 0.4s ease;
    transform-style: preserve-3d;
}

.back {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
    text-decoration: none;
}


.back:hover {
    color: #fff;
}

.mail .back,
.whatsapp .back {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
}

.tw .back,
.fb .back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.fb .back {
    background: #3b5998;
}

.mail .back {
    background: #333;
}

.tw .back {
    background: #00aced;
}

.whatsapp .back {
    background: #25D366;
}

.fb,
.mail {
    transform-origin: 0% 0%;
}

.whatsapp,
.tw {
    transform-origin: 100% 100%;
}

.tw {
    transition-delay: 0.1s;
    transform: rotateY(-90deg);
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
}

.whatsapp {
    transition-delay: 0.2s;
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
}

.mail {
    transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
}

.fb {
    transition-delay: 0.3s;
    transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
}

.about-icons-div {
    margin-bottom: 30px;
}

.about-icons-div .img {
    height: 100px;
    position: relative;
}

.about-icons-div .img img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 80%;
}


.about-icons-div p {
    max-width: 275px;
    margin: auto;
}

.about-sec-desciption {
    line-height: 30px;
}

.about-service-div {
    background: #fff;
    margin-bottom: 30px;
    border-radius: 0 0 20px 20px;
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -ms-border-radius: 0 0 20px 20px;
    -o-border-radius: 0 0 20px 20px;
    box-shadow: 0 3px 6px rgba(61, 190, 203, .15);
    padding: 100px 40px 40px;
    position: relative;
    z-index: 1;
    border: 1px solid transparent;
}

.about-service-div .counter {
    position: absolute;
    top: 0;
    background-image: url(../images/about/circle.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
    z-index: -1;
    height: 130px;
    width: 150px;
    font-size: 29px;
    line-height: 50px;
}

.about-service-div .btn-div {
    margin-top: 25px;
}

.about-service-grid {
    perspective: 1000px;
}

.about-service-div:hover {
    background: #f8f8f8;
    border-color: #3DBECB;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    box-shadow: 0 0 30px #99e8f0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.about-logo {
    background: #3DBECB;
    max-width: 250px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    min-height: 200px;
}

.about-feature-div {
    min-height: 90px;
    background: #F6FDFF;
    position: relative;
    padding: 10px;
    margin-bottom: 25px;
    font-size: 15px;
    line-height: 24px;
    color: #333;
    z-index: 1;
}

.about-feature-div:before {
    content: "";
    position: absolute;
    background: #3DBECB;
    height: 100%;
    z-index: -1;
    width: 0;
    border-radius: 10px;
    top: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.about-feature-div:hover:before {
    width: calc(100% - 40px);
}

.about-feature-div .counter {
    position: absolute;
    height: 100%;
    background: #3DBECB;
    width: 90px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.about-sec-6 .white-bg {
    padding: 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .15);
    margin-bottom: 10px;

}

.about-features {
    margin-top: 50px;
}

.about-feature-div:hover {
    color: #fff;
}

.main-table {
    width: 100%;
}

div.dataTables_wrapper div.dataTables_length select {
    height: 35px !important;
    padding: 0 10px !important;
    text-align: center;
}

div.dataTables_wrapper div.dataTables_filter {
    display: inline-block;
}

div.dataTables_wrapper div.dataTables_filter input {
    height: 40px;
}

.main-table thead th,
.table thead th {
    border-top: none;
    border-bottom: 1px solid #83E8FF;
}


.main-table.dataTable>tbody>tr.child span.dtr-title,
.table thead th {
    color: #3DBECB;
    font-weight: normal;
    font-family: "bold";
    font-size: 17px;
}

.responsive-table-title {
    display: none;
    color: #3DBECB;
    font-family: "bold";
    font-size: 17px;
}

.main-table.dataTable>tbody>tr.child span.dtr-title {
    margin-bottom: 20px;
}

table.dataTable>tbody>tr.child ul.dtr-details>li {
    border-bottom: 1px solid #efefef;
    padding: 20px 0;
}

.main-table tr:first-of-type td {
    border-top: none;
}

.cart-img {
    width: 150px;
    overflow: hidden;
    position: absolute;
    height: 115px;
}

.cart-data {
    position: relative;
    width: 500px;
}

.main-table.dataTable td,
.table td {
    vertical-align: middle;
    padding: 50px 0;
    border-top: none;
    border-bottom: 1px solid #83E8FF;
}

.main-table.dataTable .child td {
    padding: 20px 0 0;

}

.main-table.dataTable.nowrap td {
    white-space: inherit;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
    background-color: #3DBECB;
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
    background-color: #eec574;
}

.cart-data .project-title {
    margin-bottom: 0;
    font-size: 17px;
    text-decoration: none;

}

.cart-table {
    margin-bottom: 0;
}

.cart-data .stars {
    margin-bottom: 3px;
}

.cart-data .project-title~p {
    line-height: 21px;
    height: 63px;
    margin-bottom: 0;
    font-size: 15px;
}

.cart-quantity .form-control {
    height: 40px;
    border-color: #3DBECB;
}

.cart-quantity .select2-container--bootstrap4 .select2-selection {
    height: 40px !important;
    border-color: #3DBECB !important;
}

.cart-quantity .select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
    line-height: 39px !important;
}

.cart-quantity {
    width: 205px;
    margin: auto;
}

.cart-quantity .form-group {
    display: inline-block;
    vertical-align: text-top;
    margin-bottom: 5px;
}

.cart-quantity .form-group:nth-of-type(2) {
    width: 80px;
}

.cart-quantity .form-group:last-of-type {
    display: block;
}

.cart-quantity .form-group:last-of-type .select2-container--bootstrap4 .select2-selection {
    background: #3DBECB !important;
    color: #fff;
}


.cart-quantity .form-group:last-of-type .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b {
    border-color: #fff transparent transparent;
}

.cart-total {
    margin-bottom: 10px;
}

.cart-total~.custom-btn {
    padding: 0 15px;
    min-width: 125px;
    height: 45px;
}

.page-item .page-link {
    border: 1px solid #3DBECB;
    color: #3DBECB;
    box-shadow: none;
}

.page-item.active .page-link {
    background-color: #3DBECB;
    border-color: #3DBECB;
}

div.dataTables_wrapper div.dataTables_paginate {
    text-align: center;
    margin-top: 30px;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    justify-content: center;
}

table.dataTable>tbody>tr.child ul.dtr-details {
    display: block;
}

.table td {
    position: relative;
}

.cart-table tr td:first-of-type .remove-btn {
    display: none;
}


.cart-table tr td:first-of-type .remove-btn {
    top: 10px;
    height: 28px;
    width: 28px;
    padding: 0;
    position: absolute;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 0 3px #444;
    text-align: center;
    line-height: 8px;
    background: red;
    font-size: 20px;
    vertical-align: text-top;
    padding-bottom: 4px;
}

.cart-full-total {
    padding: 20px 0;
    font-size: 18px;
    width: 270px;
    border-top: 3px solid #3DBECB;
    margin-top: -1px;
}

.cart-full-total>div:first-of-type {
    display: flex;
    margin-bottom: 15px;
}

.cart-full-total div:first-of-type span {
    flex: 0 0 50%
}

.main-campain-item {
    height: 500px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.center-dots .owl-dots {
    margin: 20px auto 20px !important;
}

.campain-goal {
    background: #FFDA8F;
    display: inline-block;
    padding: 30px 20px;
}

.campain-progress {
    max-width: 900px;
    margin: 40px auto;
}

.campain-progress .full-progress {
    height: 25px;
}

.campain-description {
    border: 1px solid #3DBECB;
    padding: 40px;
    margin: 30px auto 40px;
}


.share-soc {
    height: 45px;
    width: 45px;
    background: #ebf8fb;
    color: #3DBECB;
    line-height: 45px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 5px;
    font-size: 20px;
}

.share-soc:hover {
    background: #3DBECB;
    color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.inner-comments li {
    position: relative;
    padding: 25px 20px 0;
    border: 1px solid #3DBECB;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 20px;
    display: none;
    overflow: hidden;
    z-index: 1;
}

.inner-comments li:before,
.inner-comments li:after {
    content: "";
    position: absolute;
    height: 0;
    background: #fff4dd;
    width: 100%;
    z-index: -1;
}

.inner-comments li:before {
    bottom: 0;
}

.inner-comments li:after {
    top: 0;
}


.inner-comments li:hover:before,
.inner-comments li:hover:after {
    height: 50%;
}


.inner-comments li:hover {
    border-color: #FFDA8F;
}

.inner-comments li img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    overflow: hidden;
    display: inline-block;
    top: 17px;
}

.inner-comments li img img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    min-height: 100%;
    min-width: 100%;
}

.inner-comments h4 {
    margin-bottom: 2px;
}

.comment-time {
    color: #AEAEAE;
}

.loadmore {
    cursor: pointer;
    margin-top: 20px;
    display: inline-block;
}

.loadmore~i {
    vertical-align: middle;
}

.loadmore.active {
    color: #FFDA8F;
}

.loadmore.active~i {
    color: #FFDA8F;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.campain-icon-description {
    background: #ebf8fb;
    padding: 25px 010px;
    margin-top: 30px;
}

.big-btn {
    display: block;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: #3DBECB;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    color: #fff;
    max-width: 200px;
    border: none;
}

.big-btn img {
    display: block;
    margin: auto auto 10px;
}

.big-btn:hover {
    background: #FFDA8F;
    color: #333;
}

.campain-cart .multi-checkboxes {
    margin: 30px auto 20px;
}

.campain-cart .donate-quantity .number-input-div {
    width: 310px;
}

.campain-cart .donate-quantity .select-input {
    width: 150px;
}

.campain-cart .donate-quantity .select2-container .select2-selection--single .select2-selection__rendered {
    text-align: center;
}

.campain-cart .donate-div {
    max-width: 500px;
}

.comments {
    margin-top: 30px;
}

.comments h3 {
    margin-bottom: 30px;
    font-size: 22px;
}


.campain-icons .about-icons-div {
    max-width: 310px;
    margin-right: auto;
    margin-left: auto;
}

.about-icons-div:hover .campain-icon-description {
    background: #3DBECB;
}


.about-icons-div:hover .campain-icon-description h3 {
    color: #fff;
}

.about-icons-div:hover .campain-icon-description p {
    color: #FFDA8F;
}


input.star {
    cursor: pointer;
    position: absolute;
    top: 8px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-filter: alpha(opacity=0);
}

label.star {
    font-size: 16px;
    transition: all 0.2s;
    display: inline-block;
    margin: 4px 0 0;
}

label.star:before {
    content: "\f005";
    color: #E1E1E1;
    font-family: 'Font Awesome 5 Free';
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
}

input.star:checked~label.star:before {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    color: #F8CC0C;
}

.static-stars label:hover {
    transform: rotate(-15deg) scale(1.2);
    -webkit-transform: rotate(-15deg) scale(1.2);
    -moz-transform: rotate(-15deg) scale(1.2);
    -ms-transform: rotate(-15deg) scale(1.2);
    -o-transform: rotate(-15deg) scale(1.2);
}

.rate-div {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 315px;
    max-width: 450px;
    margin: auto;
    padding-top: 50px;
}

.inner-rate-div {
    flex: 0 0 100%
}

.inner-rate {
    border: 1px solid #3DBECB;
    padding: 10px;
    margin-bottom: 30px;
}

.rate-div h3 {
    margin-bottom: 30px;
}


.rate-div .form-control {
    border-color: #3DBECB;
}

.rate-div .form-control:focus {
    border-color: #333;
}

.done-rate {
    position: absolute;
    top: -15px;
    right: 19px;
    background: #3DBECB;
    color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
    transform: rotate(180deg) scale(1.3);
    -webkit-transform: rotate(180deg) scale(1.3);
    -moz-transform: rotate(180deg) scale(1.3);
    -ms-transform: rotate(180deg) scale(1.3);
    -o-transform: rotate(180deg) scale(1.3);
    left: 0;
    right: 0;
    opacity: 0;
}

.done-rate i {
    margin: auto;
}

.done-rate.active {
    opacity: 1;
    transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
}

.square-dots .owl-dots .owl-dot span::before {
    content: none;
}

.square-dots .owl-dots .owl-dot span {
    height: 14px;
    width: 14px;
    background: #CBF5FF;
    border: none;
    box-shadow: none;
    margin: 4px;
}

.square-dots .owl-dots .owl-dot.active span,
.square-dots .owl-dots .owl-dot.active:hover span {
    width: 40px;
    background: #3DBECB;
}

.square-dots .owl-dots .owl-dot:hover span {
    background: #3DBECB;
}

.profile-user {
    position: relative;
    z-index: 9;
    min-height: 65px;
}

.profile-img {
    position: relative;
}


.profile-img h3 {
    margin-bottom: 0;
}

.avatar-upload {
    position: absolute;
    margin: auto;
    width: 140px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.avatar-upload .avatar-edit {
    position: absolute;
    z-index: 1;
    top: -7px;
    box-shadow: 0 0 8px #888;
    border-radius: 100%;
    height: 30px;
    left: 0;
}


.avatar-upload .avatar-edit label {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: absolute;
    top: calc(100% + 60px);
    left: 0;
}

.avatar-upload .avatar-edit label:hover {
    background: #333;
}



.avatar-upload .avatar-edit label:after {
    content: "\f16d";
    font-family: "Font Awesome 5 Brands";
    color: #333;
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    font-size: 20px;
    cursor: pointer;
}

.avatar-upload .avatar-edit label:hover::after {
    color: #fff;
}

.avatar-upload .avatar-preview {
    width: 140px;
    height: 140px;
    position: relative;
    border-radius: 100%;
}

.avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    border: 5px solid #fff;
}

.profile-list {
    background: #E9FAFF;
    margin-bottom: 30px;
}

.profile-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-list ul li {
    flex: 0 0 20%;
    position: relative;
    z-index: 1;
}

.profile-list ul li i {
    opacity: 0;
}

.profile-list ul li::before {
    content: "";
    position: absolute;
    top: 0;
    height: 5px;
    width: 100%;
    background: #333;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    z-index: -1;
}

.profile-list ul li:hover::before {
    height: 100%;
    opacity: 1;
}

.profile-list ul li:hover i,
.profile-list ul li.active i {
    opacity: 1;
}

.profile-list a {
    padding: 20px 0;
    display: block;
    color: #333333;
}

.profile-list ul li:hover a {
    color: #fff;
}

.profile-list ul li.active::before {
    background: #3DBECB;
    opacity: 1;
}

.profile-list li.active a {
    color: #3DBECB;
}

.profile-title {
    margin-bottom: 30px;
    font-size: 22px;
}

.personal-information .form-group>div,
.personal-information .form-group>a {
    background: #E9FAFF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    padding: 15px;
    display: inline-block;
    min-width: 500px;
    color: #333;
}

.personal-information .form-group>div:hover,
.personal-information .form-group>a:hover {
    background: #3DBECB;
}

.personal-information .form-group>div:hover,
.personal-information .form-group>a:hover {
    color: #fff;
}

.personal-information .form-group>div:hover span {
    color: #FFDA8F;
}

.report {
    margin-bottom: 30px;
    min-height: 115px;
}

.report .cart-data,
.prof-project .cart-data {
    width: 100%;
}

.report .cart-data .stars {
    margin: 12px auto 16px;
}

.report .cart-data .project-title~p {
    height: auto;
}

.reports-div .personal-information .form-group>a {
    min-width: 100%;
    display: block;
}

.reports-div .personal-information .form-group>a:before {
    content: "\f054";
    color: #000;
    font-family: 'Font Awesome 5 Free';
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 32%;
}


.border-setting {
    border: 1px solid #3DBECB;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.border-setting:hover {
    background: #3DBECB
}

.border-setting:hover .first_color,
.border-setting:hover i,
.border-setting:hover .arrow-profile-text:before {
    color: #fff;
}

.border-setting:hover .arrow-profile-text span {
    color: #eee;
}

.border-setting i {
    width: 20px;
}




.border-setting:hover .switch_box input[type="checkbox"].switch_1:checked,
.border-setting:hover .white-checkbox input:checked~label {
    background: #333;
}

.switch_box input[type="checkbox"].switch_1:checked {
    background: #3DBECB;
}

.switch_box {
    position: absolute;
    top: 0;
}


.switch_box input[type="checkbox"].switch_1 {
    font-size: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 3.5em;
    height: 1.3em;
    background: #CBF5FF;
    border-radius: 3em;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    -ms-border-radius: 3em;
    -o-border-radius: 3em;
}

.switch_box input[type="checkbox"].switch_1:checked {
    background: #3DBECB;
}

.switch_box input[type="checkbox"].switch_1:after {
    position: absolute;
    content: "";
    width: 1.2em;
    height: 1.2em;
    border-radius: 20px;
    background: #3DBECB;
    left: 0px;
    top: 1px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    transform: scale(.8);
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.switch_box input[type="checkbox"].switch_1:checked:after {
    left: calc(100% - 1.2em);
    background: #fff;
}

.switch-container {
    position: relative;
}

.full-width-checkbox {
    display: block;
}

.white-checkbox input~label:before {
    content: none;
}

.white-checkbox input~label {
    background: #fff;
    color: #3DBECB;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid #3DBECB;
}

.white-checkbox input:checked~label {
    background: #3DBECB;
    color: #fff;
}

.white-checkbox input~label:after {
    top: 13px;
}


.slide-profile {
    display: none;
    margin-top: 20px
}


.arrow-profile-text {
    position: relative;
    margin-bottom: 0;
    cursor: pointer;
}

.arrow-profile-text span {
    font-size: 14px;
}

.arrow-profile-text:before {
    content: "\f0d7";
    position: absolute;
    top: 0;
    font-family: "font awesome 5 free";
    font-weight: bold;
    font-size: 20px;
    color: #3DBECB;
}

.arrow-profile-text.active:before {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.prof-project-btn {
    margin-top: 20px;
}

.prof-project-btn button {
    vertical-align: middle;
}

.prof-project-btn .big-btn {
    display: inline-block;
    width: 70px;
    padding: 0 10px;
    line-height: 30px;
    height: 50px;
    margin-bottom: 0;
}

.prof-project-btn .big-btn img {
    margin-bottom: 0;
    max-height: 30px;
}

.prof-project {
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #83E8FF;
    position: relative;
}

.profile-tabs .nav-tabs .nav-link {
    color: #AEAEAE;
    background: #F6FDFF;
    margin: 10px;
    min-width: 150px;
    border-radius: 10px !important;
    padding: 25px 15px;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
    border: none;
}

.profile-tabs .nav-tabs {
    margin-bottom: 70px;
}

.profile-tabs .nav-tabs .nav-link:hover,
.profile-tabs .nav-tabs .nav-link.active {
    color: #333;
    background: #CBF5FF;
}

.profile-tabs .nav-tabs .nav-item {
    margin: 0;
}

.prof-month-edit {
    position: absolute;
    width: 40px;
    top: 0;
}

.prof-month-edit button {
    height: 40px;
    width: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    color: #ccc;
    display: block;
}

.prof-month-edit button:not(:last-of-type) {
    margin-bottom: 10px;
}

.prof-month-edit button:hover {
    color: #fff;
    border-color: transparent;
    background: #3DBECB;
}

.prof-month-edit button.remove-btn:hover {
    background: red;
}

.has-side .switch-container {
    position: absolute;
    top: 0;
}

#modal-month .user-div {
    padding: 18px;
}


.agreement-user-details {
    max-width: 400px;
    margin: 30px auto;
    line-height: 40px;
    font-size: 18px;
}

.agreement-div {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 35px;

}

.agreement-pg li {
    margin-bottom: 15px;
}

.agreement-pg h3.second_color {
    margin: 30px auto 10px;
}

.agreement-div table {
    margin: 40px auto 20px;
}

.signiture-users li {
    display: flex;
}

.signiture-users li span {
    min-width: 100px;
}


.signiture-users li img {
    max-height: 65px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px 20px;
}

.signiture-users li small {
    color: #828282;
}

.signiture-users>.row>div {
    margin-bottom: 50px;
}

.sign-as {
    margin-bottom: 20px;
}

.sign-as .hide-div {
    display: none;
    margin-bottom: 10px;
}

.sign-as .data-checks {
    display: none;
}

.sign-as #check-1 {
    display: block;
}

.sign-as .file-name {
    font-size: 14px;
}

canvas#signature-pad {
    margin-top: 20px;
}

@media print {

    header,
    .pages-header,
    .copyright,
    .print-none,
    footer,
    #print {
        display: none;
    }
}


.copy-chart {
    cursor: pointer;
}

.clone-div {
    margin-top: 25px;
}


.success-payment {
    background: #f8f8f8;
    max-width: 700px;
    margin: auto;
    padding: 20px 20px 50px;
    box-shadow: 0 8px 12px #cbc8c8;
}


.success-pg .row {
    min-height: 100vh;
}

.success-payment img {
    max-height: 400px;
}


.success-pg h1 {
    margin-bottom: 30px;
}

.remove-chart {
    cursor: pointer;
    color: #dc3545;
}

.remove-input-img {
    position: absolute;
    top: 5px;
    z-index: 1;
    font-size: 17px;
    height: 25px;
    width: 25px;
    background: #dc3545;
    color: #fff;
    cursor: pointer;
    line-height: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
}

.login-form .has_val .moving-label,
.login-form .form-control:focus .moving-label,
.login-form .select2-container--bootstrap4.select2-container--focus~.moving-label,
.login-form .form-control:active .moving-label,
.login-form .select2-container--bootstrap4.select2-container--focus~.moving-label {
    top: -20px;

}

iframe#st_gdpr_iframe {
    left: 0 !important;
}


.bg_spinner {
    display: flex;
    height: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    right: 0;
    background: rgba(255, 255, 255, .6);
    top: 0;
    z-index: 999;
}


.report-details video {
    max-height: 500px;
    margin-bottom: 30px;
}


.ui-datepicker-year {
    border: none;
}

.gray-project-div *:not(.project-btns, a),
.gray-project-div a * {
    pointer-events: none;
}

.gray-project-div .projects-money span {
    color: #fff !important;
    background-color: #A4A4A4 !important;

}

.gray-project-div .progress-bar-ratio,
.gray-project-div .full-progress,
.gray-project-div .total-donation {
    background-color: #A4A4A4 !important;

}

.gray-project-div *,
.gray-project-div input {
    color: #A4A4A4 !important;
}

.gray-project-div .project-shape,
.gray-project-div .project-btns button,
.gray-project-div .project-btns,
.gray-project-div .project-select .form-control,
.gray-project-div .project-select .select2-container--bootstrap4 .select2-selection,
.gray-project-div .project-select .custom-btn,
.gray-project-div .progress-ratio,
.gray-project-div .progress-ratio:after,
.gray-project-div .numb-control,
.gray-project-div .project-shape span {
    border-color: #A4A4A4 !important;
}

.gray-project-div.project-div:hover .project-btns .tooltip-link {
    background: none;
}

.gray-project-div .project-select .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b {
    border-color: #A4A4A4 transparent transparent !important;
}

.gray-project-div img {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.gray-project-div.project-div:hover .project-shape span {
    background: #fff;
}



.custom-pagination nav.flex.items-center.justify-between {
    text-align: center;
    padding: 14px 0;
}

.custom-pagination nav.flex.items-center.justify-between a {
    padding: 5px !important;
    margin: auto 2px !important;
    width: 30px;
    background: #3dbecb !important;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.custom-pagination nav.flex.items-center.justify-between .hidden.sm\:flex-1.sm\:flex.sm\:items-center.sm\:justify-between {
    display: block;
    visibility: visible;

}

.custom-pagination .flex.justify-between.flex-1.sm\:hidden {
    display: none;
}

.custom-pagination nav.flex.items-center.justify-between svg {
    height: 20px;
    margin-top: -4px;
}

.custom-pagination nav.flex.items-center.justify-between .hidden.sm\:flex-1.sm\:flex.sm\:items-center.sm\:justify-between>div:first-of-type {
    margin-bottom: 25px;
}

.custom-pagination span.relative.inline-flex.items-center {
    background: #d7d7d7 !important;
    width: 30px;
    padding: 5px !important;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 2px;
    display: inline-block;

}

.custom-pagination span.relative.z-0.inline-flex.shadow-sm.rounded-md {
    box-shadow: none !important;
}


.loading-btn[disabled]::before,
.loading-btn[disabled]::after {
    content: none;
}

.loading-btn[disabled]:hover {
    color: #3DBECB;
}

.project-pg .tab-content>.tab-pane {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    opacity: 1;
    position: static;
}

.project-pg .project-grid {
    opacity: 0;
}

.voucher-pop-div a {
    display: block;
    padding-bottom: 10px;
    padding: 15px 20px 20px
}

.voucher-pop-div a:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}