@media only screen and (min-width:1200px) {
    .header-icon.search-main-div {
        position: absolute;
        z-index: 9;
        top: 70px;
        transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        -webkit-transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        -moz-transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        -ms-transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        -o-transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        opacity: 0;
    }

    .header-icon.search-main-div .form-control {
        background: #fff;
    }

    .header-icon.search-main-div.active {
        top: 50px;
        opacity: 1;
    }
}

@media only screen and (min-width:1400px) {
    .container {
        max-width: 1380px;
    }

    .main-slide-item {
        height: 650px;
    }

    .slider-caption h3 {
        font-size: 50px;
        margin-bottom: 40px;
        line-height: 50px;
    }

    .slider-caption {
        max-height: calc(100% - 200px);
    }

    .pages-header .container-fluid>.row {
        height: 600px;
    }
}

@media only screen and (max-width:1200px) and (min-width:992px) {
    .search-grid {
        -ms-flex: 0 0 29.333333%;
        flex: 0 0 29.333333%;
        max-width: 29.333333%;

    }

    .main-header-links-grid {
        -ms-flex: 0 0 45.333333%;
        flex: 0 0 45.333333%;
        max-width: 45.333333%;
    }

    .main-header-links a img {
        max-width: 22px;
    }
}

@media only screen and (max-width:1400px) {
    .project-tabs .nav-tabs .nav-item {
        flex: 0 0 25%
    }

    .padding-div {
        padding-right: 10px;
        padding-left: 10px;
    }

    .stars i {
        font-size: 14px;
    }

    .main-projects-sec .progress-min-max {
        font-size: 13px;
    }

    .main-search {
        width: 240px;
    }
}


@media only screen and (max-width:1200px) {


    .slider-caption h3 {
        font-size: 40px;
        margin-bottom: 25px;
        line-height: 40px;
    }

    .slider-caption {
        max-height: calc(100% - 150px);
    }

    .main-about-item {
        width: 65%;
    }

    .slider-about-caption {
        width: 45%;
    }

    .cart-data {
        width: 420px;
    }

    .cart-table th:last-of-type,
    .cart-table td:last-of-type {
        display: none;

    }

    .cart-table tr td:first-of-type .remove-btn {
        display: inline-block;
    }

    .cart-full-total {
        width: 385px;
    }

    .search-bg {
        position: fixed;
        height: 100%;
        width: 100%;
        background: rgba(255, 255, 255, .9);
        left: 0;
        top: 0;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        -webkit-transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        -moz-transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        -ms-transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        -o-transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }

    .search-main-div.active .search-bg {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }


    .main-search {
        width: 90%;
        max-width: 400px;
        margin: auto;
    }

    .icon-img {
        margin: auto 2px;
    }
}

@media only screen and (max-width:992px) {
    .md-center {
        text-align: center
    }



    .main-projects-sec .progress-grid {
        position: absolute;
        top: 10px;
        padding: 0 10px;
        width: 100%;
    }

    .main-projects-sec .progress-bar-ratio,
    .main-projects-sec .progress-min-max {
        display: none;
    }

    .main-projects-sec .full-progress {
        background: none !important;
    }

    .main-projects-sec .progress-ratio:after {
        content: none;
    }

    .main-projects-sec .progress-ratio {
        position: relative;
        top: inherit;
        border: none;
        color: #fff;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        height: 40px;
        width: 40px;
        display: inline-block;
        right: 0;
        font-size: 12px;
        line-height: 40px;
        padding: 0;
        background: var(--main_color);
        z-index: 3;
        transition: all .5s linear;
        -webkit-transition: all .5s linear;
        -moz-transition: all .5s linear;
        -ms-transition: all .5s linear;
        -o-transition: all .5s linear;
    }

    .main-projects-sec .progress-ratio::before {
        content: "";
        position: absolute;
        top: -4px;
        right: -4px;
        border: 1px solid var(--main_color);
        z-index: -1;
        height: calc(100% + 8px);
        width: calc(100% + 8px);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        transition: all .5s linear;
        -webkit-transition: all .5s linear;
        -moz-transition: all .5s linear;
        -ms-transition: all .5s linear;
        -o-transition: all .5s linear;
    }

    .main-projects-sec .arrow-triangle {
        display: none;
    }

    .main-projects-sec .project-div:hover .progress-ratio {
        background: #fff;
        color: var(--main_color);
    }

    .main-projects-sec .project-div:hover .progress-ratio:before {
        border-color: #fff;
    }

    .main-projects-sec .gray-project-div .progress-ratio {
        background-color: #A4A4A4 !important;

    }

    .main-projects-sec .gray-project-div .progress-ratio::before {
        border-color: #A4A4A4 !important;
    }

    .gray-project-div .total-donation,
    .main-projects-sec .gray-project-div .progress-ratio {
        color: #fff !important;
    }

    .project-title~p {
        margin-bottom: 15px;
    }

    .project-div .section-title {
        margin-bottom: 10px;
    }

    .projects-money {
        margin-top: 0;
    }


    .about-img-grid {
        order: 1;
    }

    .about-text-grid {
        order: 2;
    }

    .about-sec img {
        margin: auto;
        max-height: 300px;
    }

    .about-text-grid .btn-div {
        margin-top: 30px;
    }

    .contact-div {
        padding: 20px;
    }

    .map-img {
        min-height: 370px;
    }

    .footer-img-grid {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    footer {
        padding-bottom: 100px;
    }


    .footer-img-grid object {
        max-height: 150px;
    }



    .circle-checkboxes-div {
        margin: 60px auto 0;
    }

    .checkout-div:before {
        width: 100%;
        max-width: 100%;
        height: 25%;
        top: auto;
        bottom: 0;
    }

    .custom-file-div input~label {
        height: 135px;
    }

    .main-about-item {
        width: 100%;
    }

    .slider-about-caption {
        width: calc(100% - 10px);
        max-width: 400px;
        padding: 20px;

    }

    .main-about-owl .owl-dots {
        right: 0;
        left: 0;
        margin: auto;
        bottom: 0;
    }

    .table thead {
        display: none;
    }

    .table,
    .responsive-table-title,
    .table tbody {
        display: block;
    }

    .table tr {
        display: block;
        border-bottom: 1px solid #83E8FF;
        display: flex;
        flex-wrap: wrap;
        padding: 30px 0 20px;
    }

    .table:not(.cart-table) tr:first-of-type {
        padding-top: 0;
    }

    .table td {
        border-bottom: none;
        padding: 10px 0;
        flex: 0 0 50%
    }

    .table td:first-of-type {
        display: block;
        width: 100%;
        flex: 0 0 100%;
        border-bottom: 1px solid #eee;
        margin-bottom: 20px;

    }

    .cart-table tr td:first-of-type .remove-btn {
        top: -24px;
    }

    .campain-cart .donate-quantity .number-input-div {
        width: 275px;
    }

    .main-campain-item {
        height: 400px;
    }

    .profile-user {
        min-height: 110px;
    }

    .avatar-upload .avatar-preview {
        width: 105px;
        height: 105px;
    }

    .avatar-upload .avatar-edit label {
        top: calc(100% + 45px);
    }

    .nav-icon {
        display: inline-block;
    }
}

@media only screen and (max-width:992px) and (min-width:766px) {

    .main-projects-sec .projects-money {
        position: absolute;
        bottom: -35px;
    }

    /* .main-projects-sec .projects-money span {
        border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        -ms-border-radius: 5px 5px 0 0;
        -o-border-radius: 5px 5px 0 0;
    } */

}

@media only screen and (max-width:767px) {
    .sm-center {
        text-align: center
    }



    .main-logo object {
        max-width: 130px;
    }

    .nav-icon {
        height: 35px;
    }

    .inner-header {
        padding: 15px;
    }

    .tippy-popper {
        display: none;
    }

    .icon-img {
        margin: auto 2px;
    }

    .main-logo object {
        max-width: 86px;
    }

    .fast-scroll {
        display: none !important;
    }

    .fast-scroll a {
        height: 40px;
        width: 40px;
        margin-bottom: 10px;
    }

    .slider-caption {
        max-height: calc(100% - 110px);
    }

    .project-tabs .nav-tabs .nav-item {
        flex: 0 0 100%
    }

    .filter-tabs .nav-tabs {
        margin-top: 0;
    }

    .project-tabs .nav-tabs .nav-item .nav-link {
        border: none !important;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }

    .filter-tabs .nav-tabs .nav-item.show .nav-link,
    .filter-tabs .nav-tabs .nav-item .nav-link.active {
        border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        -ms-border-radius: 0 !important;
        -o-border-radius: 0 !important;
    }

    .filter-tabs {
        position: fixed;
        top: 0;
        height: 100%;
        background: #fff;
        width: 300px;
        box-shadow: 0 0 8px #000;
        padding: 50px 20px 20px;
        opacity: 0;
        z-index: 991;
        transition: all .5s linear;
        -webkit-transition: all .5s linear;
        -moz-transition: all .5s linear;
        -ms-transition: all .5s linear;
        -o-transition: all .5s linear;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .filter-tabs::-webkit-scrollbar-track {
        background-color: #51ceda;
    }

    .filter-tabs::-webkit-scrollbar {
        width: 6px;
        background-color: #51ceda;

    }

    .filter-tabs::-webkit-scrollbar-thumb {
        background-color: #03abbb;
    }



    .filter-tabs.active {
        opacity: 1;
    }

    .tab-content {
        padding-top: 15px;
    }


    .contact-sec {
        background: #F1FCFF;
        padding: 20px 0;
    }

    .contact-div {
        position: static;
        width: 100%;
        margin: 40px auto 0;
    }

    .map-sec a {
        position: static;
        margin: auto;
    }

    .top-btn {
        height: 40px;
        width: 40px;
        line-height: 40px;
        margin-bottom: 0;
        font-size: 18px;
        position: fixed;
        bottom: 20px;
        z-index: 9;
        background: #272727;
        border-color: #272727;
    }

    .top-btn i {
        margin-bottom: 0;
    }

    .top-btn span {
        display: none;
    }

    .footer-list li {
        display: inline-block;
        position: relative;
    }

    .footer-list li:not(:last-of-type):after {
        content: "";
        width: 2px;
        height: 16px;
        background: #fff;
        display: inline-block;
        vertical-align: middle;
    }

    .accordion {
        min-width: 100%;
    }

    .footer-logo img {
        margin: auto auto 20px;
    }

    footer {
        padding-top: 30px;
        padding-bottom: 150px;
    }



    footer .row {
        min-height: inherit;
    }

    .map-img {
        min-height: 200px;
    }

    .contact-pg .marker {
        top: 17%;
        right: 22.5%;
        max-height: 50px;
    }

    .contact-pg .map-sec a {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 215px;
        top: calc(100% - 22px);
    }

    .contact-pg .contact-div {
        margin: 10px auto 30px;
    }

    .side-notify {
        position: static;
        width: 100%;
        display: block;
    }


    .inner-notification .remove-btn {
        position: absolute;
        top: -14px;
    }

    .footer-list li a::before {
        content: none;
    }

    .news-letter .form-group {
        margin-left: auto;
        margin-right: auto;
    }

    .light_bg {
        padding-bottom: 50px;
    }

    .share-url-div {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .gray-form .share-url-div .form-control {
        max-width: 100%;
        text-align: center;
    }

    .share-url-div .custom-btn {
        margin: 10px auto 0;
        position: relative;
    }

    .share-url {
        position: relative;
        display: inline-block;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .about-logo {
        margin-left: auto;
        margin-right: auto;
    }

    .big-btn {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
    }

    .main-campain-item {
        height: 300px;
    }

    .campain-progress {
        margin-bottom: 0;
    }

    .profile-user {
        padding-bottom: 30px;
    }

    .avatar-upload {
        left: 0;
        right: 0;
        margin: auto;
    }

    .avatar-upload .avatar-preview {
        margin: auto;
    }

    .profile-img {
        padding: 120px 0 0;
        margin-bottom: 20px;
    }

    .avatar-upload {
        top: 0;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }

    .profile-list ul li {
        flex: 0 0 50%;
        border-bottom: 1px solid #333;
    }

    .profile-list ul li i {
        opacity: 1;
    }

    .profile-list ul li:last-of-type {
        flex: 0 0 100%
    }

    .profile-list .row {
        justify-content: center;
    }

    .profile-list .container {
        max-width: 100%;
        padding: 0;
    }


    .profile-list ul li.active {
        border-bottom-color: #3DBECB;
    }

    .profile-tabs .nav-tabs .nav-item {
        width: 50%;
    }

    .profile-tabs .nav-tabs .nav-link {
        margin: 5px;
        min-width: inherit;
        padding: 15px 10px;
        font-size: 14px;
    }

    .profile-tabs .nav-tabs {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .cart-full-total {
        width: 100%;
    }

    canvas#signature-pad {
        width: 100%;
    }

    .main-projects-sec .has-side a {
        top: -15px;
    }

}

@media only screen and (max-width:576px) {
    .xs-center {
        text-align: center
    }

    .main-logo object {
        max-width: 130px;
    }

    .hidden-title {
        position: fixed;
        width: 100%;
        bottom: 58px;
        z-index: 9;
    }

    /* .main-icons-grid {
        display: none;
    } */


    .main-logo object {
        max-width: 110px;
    }

    .slider-caption {
        padding: 10px 55px;
    }

    .slider-caption p {
        line-height: 28px;
    }

    .section-title h3 {
        font-size: 20px;
        margin-bottom: 0px;
    }

    .section-title h4 {
        font-size: 20px;
        margin-top: -2px;
    }

    .section-title .side-img {
        height: 45px;
        width: 45px;
    }

    .section-title .side-img img {
        max-height: 30px;
    }

    .margin-div {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .margin-top-div {
        padding-top: 30px;
    }


    .margin-bottom-div {
        padding-bottom: 30px;
    }

    .section-pragraph {
        margin-bottom: 30px;
    }

    .has-side:not(.profile-title) a {
        font-size: 16px;
        display: block;
        position: static;
    }

    .proje-all-title .has-side {
        position: static;
    }

    .proje-all-title {
        padding-bottom: 70px;
    }

    .main-projects-sec .proje-all-title a {
        font-size: 16px;
        display: inline-flex;
        position: absolute;
        bottom: 0;
        top: auto !important
    }

    .proje-all-title.has-side a {
        top: -15px;
    }

    .count-div h3 {
        font-size: 16px;
    }

    .statistics-pg .count-div h3 {
        font-size: 22px;
    }

    .count-div {
        padding-top: 60px;
        margin-bottom: 20px;
    }

    .count-div img {
        max-height: 50px;
    }

    .counter-value {
        padding: 7px 10px 5px;
        margin-top: 0px;
        font-size: 14px;
    }



    .fixed-menu {
        display: block;
        position: sticky;
        bottom: -2px;
        z-index: 9;
        background: #222;
        border-top: 1px solid #111;
        animation: slideInUp 1s cubic-bezier(0.23, 1, 0.320, 1) both;
        -webkit-animation: slideInUp 1s cubic-bezier(0.23, 1, 0.320, 1) both;
    }

    .header-icon,
    .main-header-icons {
        display: inline;
    }

    .fixed-menu a,
    .fixed-menu button {
        color: #fff;
        border: none;
        background: none;
        font-size: 20px;
        height: 60px;
        line-height: 60px;
        display: block;
        text-align: center;
        margin: auto;
    }

    .fixed-menu .active {
        background: #111;
    }

    .header-search {
        display: none !important;
    }

    .fixed-menu .num {
        top: 5px;
        right: 0;
        left: 0;
        margin: auto;
        max-width: 20px;
    }

    .top-btn {
        bottom: 85px;
    }

    .pages-header .container-fluid>.row {
        height: 260px;
    }

    .pages-header h1 {
        font-size: 27px;
    }

    .hidden-title .page-title {
        font-size: 20px;
        background: #111111;
    }

    .contact-info .section-title {
        margin-bottom: 45px;
    }

    .inner-notification .section-title {
        padding-right: 30px;
    }

    .inner-notification li.new:after {
        top: 36px;
    }

    .inner-notification .section-title {
        padding-right: 15px;
    }

    .multi-checkboxes {
        margin: 30px auto 0;
    }

    .checkout-div {
        padding: 50px 15px;
    }

    .checkout-div h2 {
        line-height: 50px;
        font-size: 45px;
    }

    .project-title~p,
    .project-div .section-title {
        margin-bottom: 13px;
    }

    .association-div h3 {
        font-size: 19px;
    }

    .light_bg {
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    .projects-money {
        position: absolute;
        bottom: -35px;
    }

    .res-bene {
        display: none;
    }

    .projects-money span {
        border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        -ms-border-radius: 5px 5px 0 0;
        -o-border-radius: 5px 5px 0 0;
    }

    .about-sec-3 .marquee-div {
        width: calc(90% - 20px);
        left: 10px;
        right: 10px;
        margin: auto;
    }

    .cart-data {
        min-width: 300px;
        width: 100%;
        max-width: 100%;
    }

    .cart-img {
        width: 95px;
        height: 95px;
    }

    .cart-data .project-title~p {
        line-height: 21px;
        height: 45px;
    }

    div.dataTables_wrapper div.dataTables_length label {
        text-align: center;
        margin-bottom: 20px;
    }

    .cart-full-total {
        width: 100%;
        margin: auto;
    }

    .campain-cart .donate-quantity .number-input-div {
        width: 170px;
    }

    .campain-cart .donate-quantity .select-input {
        width: 70px;
    }

    .big-btn {
        padding: 15px 25px;
        width: auto;
    }

    .campain-goal-grid {
        margin-bottom: 20px;
    }



    .comment-time {
        float: none;
        display: block;
        margin-top: -20px;
    }

    .campain-description {
        padding: 20px;
    }

    .campain-goal {
        padding: 10px 20px;
    }

    .campain-title .section-title {
        display: inline-block;
    }

    .campain-progress .full-progress {
        height: 10px;
    }

    .campain-icons {
        background: #f9f9f9;
    }

    .personal-information .form-group>div {
        min-width: 100%;
    }

    .report .cart-data .stars {
        margin: 9px auto 14px;
    }

    .report {
        margin-bottom: 25px;
        min-height: 95px;
    }

    .prof-project {
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width:450px) {
    .main-logo object {
        max-width: 122px;
    }

    .inner-header {
        padding: 8px 15px 5px;
    }

    .side-menu {
        width: 280px;
    }

    .side-menu-title {
        padding: 15px;
    }

    .slide-menu-content .select-box {
        display: block;
        width: 100%;
        margin: 2px 0 10px;
    }

    .side-menu-title img {
        max-width: 130px;
    }


    .main-logo object {
        max-width: 122px;
    }

    .slider-caption h3 {
        font-size: 30px;
        margin-bottom: 15px;
        line-height: 30px;
    }

    .slider-caption p {
        font-size: 14px;
        line-height: 20px;
    }

    .slider-caption a {
        padding: 7px 20px 10px;
        min-width: 150px;
        margin-top: 0;
        font-size: 16px;
    }

    .main-slide-item {
        height: 460px;
    }

    .slider-caption {
        max-height: calc(100% - 94px);
    }

    .projects-money {
        bottom: -30px;
    }

    .project-select form {
        display: flex;
        flex-wrap: wrap;
        max-width: 200px;
        margin: auto;
        justify-content: center;
    }



    .project-select .form-group {
        display: block;
        text-align: center;
        flex: 0 0 calc(50% - 4px);
        margin: auto 2px 5px;
    }

    .project-select .number-input-div {
        order: -1;
        flex: 0 0 100%;
    }

    .project-select .select-input,
    .project-select .select-input2 {
        width: 100%;
    }

    .project-shape {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .project-btns {
        margin-top: 20px;
    }

    .section-title {
        margin-bottom: 30px;
    }

    .project-btns img {
        max-height: 30px;
    }

    .project-btns .tooltip-link {
        padding: 10px;
        font-size: 14px;
    }


    .project-img {
        height: 150px;
    }

    .project-select form {
        display: block;
        max-width: 100%;
    }

    .project-select .form-group {
        display: inline-block;
        margin: auto 2px 5px;
    }

    .inner-loader object {
        max-width: 210px;
    }

    .partener-img {
        height: 120px;
        width: 120px;
    }

    .project-img {
        height: 200px;
    }

    .donate-quantity .number-input-div {
        width: 180px;
    }

    .project-select {
        position: relative;
    }

    .about-feature-div {
        text-align: center;
        margin-bottom: 50px;
        padding-top: 30px;
    }

    .about-feature-div .counter {
        height: 50px;
        width: 50px;
        top: -25px;
        font-size: 22px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .about-feature-div:before {
        background: #03abbb;
    }

    .about-feature-div:hover:before {
        width: 100%;
    }

    .table td {
        flex: 0 0 100%;
    }

    .main-campain-item {
        height: 200px;
    }

    .prof-month-edit {
        position: static;
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    .prof-month-edit button {
        display: inline-block;
        margin: auto 3px;
    }

    .prof-project-btn {
        text-align: center;
    }
}