/*boostrap*/
@import url('../css/bootstrap.min.css');

/*fontawesome*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

/*animate*/
@import url('../css/animate.min.css');
@import url('../css/aos.min.css');



/*sweetalert*/
@import url('../css/sweetalert2.min.css');


/*select2*/
@import url('../css/select2.min.css');
@import url('../css/select2-bootstrap4.min.css');

/*pagination*/
/* @import url('../css/jPages.css'); */

/*owl*/
@import url('../css/owl.carousel.min.css');
@import url('../css/owl.theme.default.min.css');


/*date*/
@import url('../css/date.css');


/*phone*/
@import url('../css/intlTelInput.min.css');


/*datatables*/
/* @import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css');
@import url('https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css');
@import url('https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css'); */


/*keyframes*/
@import url('../css/keyframes.css');

/*general*/
@import url('../css/general.css');

/*header*/
@import url('../css/header.css');

/*footer*/
@import url('../css/footer.css');


/*main*/
@import url('../css/main.css');