.other-name {
    display: none;
}
.eng-maps {
    display: none;
}

.append-orderby-category-2 {
    display: none;
}

.append-orderby-category-3 {
    display: none;
}

.append-orderby-category-4 {
    display: none;
}
.append-orderby-category-5 {
    display: none;
}

.show-tab-error {
    
    border: 1px solid red;
}
.prev {
    display: none;
    margin: 10px 0;
}
.show-image {
    margin: 11px 0;
}
.remove {
    position: relative;
    top: -92px;
    width: 35px;
    height: 34px;
    border-radius: 50px !important;
}

.pross {
    position: absolute;
    margin: 26px -30px 37px 242px;
    z-index: 100;    
}

.error-input{
    color: red;
}

.testq {
    color: red;
    display: block;
    position: absolute;
    bottom: -25px;
}
